[2016-08-31 19:03] markus1189 opened #107 "Missing TERM leads to crash"
If the `TERM` env variable is not set, `vty` leads to a complete crash.  This just happened to me while trying to run a haskell program that uses brick from a docker container missing `TERM`.

The problem is that in https://github.com/coreyoconnor/vty/blob/master/src/Graphics/Vty/Config.hs#L172 there is no fallback of any kind.

[2016-08-31 20:05] jtdaugherty commented on #107
What do you expect the behavior to be when `TERM` is missing?

[2016-08-31 20:18] markus1189 commented on #107
I am sure you know more than I ;)
Is immediately crashing without any message a good option? I think an easy
improvement would be to crash with a message saying that TERM is missing.
Then the user at least knows what's going on.

On Aug 31, 2016 22:06, "Jonathan Daugherty" notifications@github.com
wrote:

[2016-08-31 20:21] jtdaugherty commented on #107
Absolutely! I was asking because I wasn't sure if you expected the application to be able to run without `TERM`. :) I think a more graceful exit in the absence of `TERM` makes sense, though. Feel free to submit a pull request; if you don't get time, I should be able to get to this in the next few days. Thanks!

[2016-09-02 02:11] glguy commented on #107
I think it'd be good if we had an exception for failure to start-up VTY.

Something like:

[code]

This would allow a careful user of VTY to gracefully handle these (and other) startup failure modes.

[2016-09-02 09:19] markus1189 commented on #107
@glguy's solution definetely is better, but I quickly put an `error` in there in #110 .  I saw that one could also forget pattern matching and use the result of `getEnv` directly as `termName`, but I don't know if that would break other parts of the code.  I am currently not able to build `vty` on NixOS, somehow the `ncurses` library is not found during the build...

[2016-09-03 22:21] jtdaugherty commented on #107
@markus1189 Would you be willing to refactor your patch to use the approach proposed by @glguy?

[2016-09-04 02:06] #107 closed, assigned to nobody

[2016-09-04 02:07] jtdaugherty commented on #107
Thanks @markus1189 and @glguy for working on this.

[2016-09-04 15:58] jtdaugherty commented on #107
This has been released in `5.11`.

[2016-09-04 16:14] glguy commented on #107
@jtdaugherty said:

Could you tag that in the repo?

[2016-09-04 16:22] jtdaugherty commented on #107
I pushed a `5.11` tag; do you not see it?

[2016-09-04 17:38] glguy commented on #107
@jtdaugherty I must have pulled from the wrong repository or something, I'm getting it now. Thanks!

[2016-11-14 06:19] ChrisPenner opened #114 "Apply attribute to an empty Image?"
Hey there! Thanks so much for making this lib! It's the best interface for terminal interactions I've found (I know it can be really hard to work with weird terminal restrictions)

Anyways, I'm working on building a text editor and it would simplify things a lot if I could construct
empty Images that still have Attributes which I can combine with other images. I attempted this with something like

[2016-11-15 22:38] jtdaugherty commented on #114
If possible I think it would be better if we can make it so that `emptyImage` doesn't interfere with attributes this way at all. I should have some time soon to look into this if you don't. Thanks for the report!

[2016-11-15 22:48] ChrisPenner commented on #114
I think you might be misunderstanding my intention?

The goal I have in mind is to be able to create 'spacer' images that don't add any characters, but DO change the attributes for all Images that follow (with currentAttr). This allows me to take Images that I've put together throughout my app and 'stitch' them together; applying traits to them as I see fit without needing to add an extraneous cha

[2016-11-15 22:58] jtdaugherty commented on #114
Although Vty has `currentAttr`, I'm concerned using it to manage attribute state will be brittle. Another approach would be to create the `Image` values as part of your map over the list, and at that time pass the desired attribute to `string` or whatever function(s) you're using to build the `Image`s.

At any rate my resistance to using `emptyImage` in this way is that I think it breaks the contr

[2016-11-15 23:22] ChrisPenner commented on #114
Oh definitely! It breaks the Monoid's identity laws and I don't think that emptyImage should change,

Rather, what I was hoping to suggest is something very _like_ emptyImage, a `setAttrImage :: Attr -> Image` if you will, this would be implemented as a completely new image constructor that has the properties I desire.

I'm fine with not adding a new constructor if the empty text element is change

[2016-11-15 23:26] jtdaugherty commented on #114
Would you be willing to fork `vty`, make that change locally, and test to ensure that it gives you the results that you want?

[2016-11-15 23:28] ChrisPenner commented on #114
I can give it a try! After a cursory glance over the source it looks over like most spots that 'text' is used it assumes a non-empty text, so it might be a bit tricky. Do you have any pointers/suggestions of where to start on this?

[2016-11-15 23:35] jtdaugherty commented on #114
I think it might just be a matter of adding a new function

[code]

but testing would be required to see what the rest of the library does with an `Image` like that. It _might_ get optimized away or not have the desired effect.

[2016-11-15 23:37] ChrisPenner commented on #114
Sounds good, I'll give it a go when I get a chance! Thanks for you help on this, I'll likely ping you about this when I have questions if that's alright with you.

[2016-11-15 23:37] jtdaugherty commented on #114
Okay, sounds good. Thanks!

[2016-11-16 00:23] glguy commented on #114
Keep in mind that an EmptyImage not only has zero width, it also has zero height. On the other hand a HorizText is always considered to have one height. Assumptions about this are likely to be baked in in a few places.

[2016-11-16 00:30] jtdaugherty commented on #114
@glguy yeah, those are exactly the kinds of things I'm concerned about with making any changes here.

[2016-11-16 07:30] ChrisPenner commented on #114
For a quick initial test I just removed the case that coerces to emptyImage and used `text attr ""` where I need the spacer : https://github.com/coreyoconnor/vty/blob/master/src/Graphics/Vty/Image.hs#L99

Everything seem to work fine and I gain the functionality I wanted. It may be nice to have a general version that has 0 height and 0 width, but this would solve my current use-case well.

The bui

[2016-11-19 06:39] glguy opened #115 "vty-5.12 utf8proc library doesn't match terminal behavior"
The new utf8proc library is less suitable for estimating terminal emulator width behavior than the old code was. While the new algorithm might be suitable for computing corrective spaces, it doesn't appear to be appropriate for estimating terminal behavior.

[2016-11-19 17:28] jtdaugherty commented on #115
To summarize some context for posterity:
- `wcwidth` gives the wrong width for wide characters added after Unicode 5, which was released in 2006. I wanted to use newer characters in `vty` so I looked around and `utf8proc` seemed to be the new go-to approach for computing character widths.
- `utf8proc` seems to give the correct width for wide characters up to Unicode 9.
- However, the widths return

[2016-11-19 17:49] glguy commented on #115
Perhaps we could include both the Unicode 5.0 and 9.0 tables and allow the user to configure this in the VTY configuration file.

http://www.unicode.org/Public/5.0.0/ucd/EastAsianWidth.txt

http://www.unicode.org/Public/UNIDATA/EastAsianWidth.txt

[2016-11-19 17:59] jtdaugherty commented on #115
If we had something like that, then that would make it so that users with updated terminals could opt in to a character width map that fit their terminal of choice. Is that what you're thinking?

[2016-11-19 18:15] ChrisPenner commented on #114
Here's a fix for this: https://github.com/coreyoconnor/vty/pull/116

[2016-11-19 18:34] glguy commented on #115
Yeah, that was my thought.

[2016-11-19 19:54] jtdaugherty commented on #115
I've just released `5.13` to Hackage which reverts from `utf8proc` to use `wcwidth` once again.

[2016-11-19 19:54] #115 closed, assigned to nobody

[2016-12-04 01:10] jtdaugherty commented on #114
With #116 merged, this should now be fixed. @ChrisPenner - if you agree, please close. Otherwise let me know what else I can do.

[2016-12-04 19:23] ChrisPenner commented on #114
Thanks for taking care of cleaning this up! I wish I was able to help more, but I'm pretty unfamiliar with the lib at this point, but learning every day!

It's working fine on my end 👍

[2016-12-04 19:23] #114 closed, assigned to nobody

[2016-12-11 20:58] hvr opened #117 "compile error with GHC 7.4"
I suggest just setting a lower bound, e.g. `base >= 4.6` to declare support for GHC 7.6 or later (and this also evades the memory issue with GHC 7.4)

[code]

[2016-12-12 03:31] jtdaugherty commented on #117
Done. Thanks!

[2016-12-12 03:31] #117 closed, assigned to nobody

[2017-01-18 22:52] ndmitchell opened #119 "Explain Windows installation"
I just tried to install `vty` on Windows under cygwin. The `unix` package (a dependency) won't even install. It says in the README that Windows is cygwin only. Is that something that anyone has ever got working? If so, what is the magic? If not, perhaps update the README.

[2017-01-19 18:13] jtdaugherty commented on #119
Thanks for pointing this out! Having never tried it and being a new maintainer, I'm not entirely clear on the status of Windows support (although I do welcome contributions in this regard). There is an unfinished pull request that Corey (former maintainer) updated periodically for a while, in case you'd like to read up on the context:

https://github.com/jtdaugherty/vty/pull/1

In the mean time, t

[2017-01-20 23:15] jtdaugherty commented on #119
Now that the README has been updated, please close this issue if you think it has been resolved. Otherwise please let me know what else I can do.

[2017-01-21 10:50] ndmitchell commented on #119
Thanks, that makes it clear and matches my experience.

[2017-01-21 10:50] #119 closed, assigned to nobody

[2017-01-25 22:51] noughtmare opened #120 "Handle terminal suspend signal"
See https://github.com/yi-editor/yi/issues/152

[2017-01-25 23:00] jtdaugherty commented on #120
Thanks for the report!

[2017-01-27 09:48] ColemanGariety opened #121 "Getting the window size"
What is the current method of getting the window size? The changelog says that `getSize` is deprecated and to use `display_bounds <- terminal` instead, but I can't find which module `terminal` is in. Reading the source code it looks like `reserveTerminal` returns the window size, but is that the proper way to get it?

Thanks.

[2017-01-27 17:19] jtdaugherty commented on #121
I think what you're looking for is
[code]
Let me know if that helps; close this ticket if so, or let me know what else I can do.

[2017-01-27 20:33] ColemanGariety commented on #121
Thanks! I found it in the `vty-examples` package.

[2017-01-27 20:33] #121 closed, assigned to nobody

[2017-01-27 21:49] jtdaugherty commented on #121
Great!

[2017-02-16 03:25] ChrisPenner opened #122 "Concatenate Pictures?"
Hello; I use vty in the [Rasa](https://github.com/chrispenner/rasa) text editor; at the moment I'm building out more advanced splits/views functionality and am finding some limitations in vty.

My use case is as follows:

Views/windows are represented as a Tree of buffers; each buffer knows how to render itself to an Image, then a recursive function resizes and uses `<|>` and `<->` to join all the

[2017-02-16 03:55] jtdaugherty commented on #122
If I understand the problem, is it possible for you to delay the conversion from `[Image] -> Picture` until the very end of this process? It seems to me that such an approach would address this problem. I can think of another benefit, which is that it also defers choice of cursor until "composite time" (i.e. the conversion to `Picture`) which is probably something that you have to do anyway.

[2017-02-16 04:00] ChrisPenner commented on #122
That's possible; could you help me understand what you mean?

How can I use `<|>` and `<->` on `[Image]`s? Do I just join everything over the base layer? And if so won't the relative position of the higher layers be thrown off by the time we convert to Picture? I suppose the tricky thing I'm having trouble with is how I position things relative to a given image in the resulting Picture without nee

[2017-02-16 06:26] jtdaugherty commented on #122
Are you aware of the translation functions?

http://hackage.haskell.org/package/vty-5.15/docs/Graphics-Vty-Image.html#v:translate

Those can be used to create `Image`s so that they can be layered on top of others when making a `Picture`. I'm imagining that you'd make full-screen `Image`s using your recursive algorithm, then make additional `Image`s (one per context menu or whatever) and add those

[2017-02-16 06:34] ChrisPenner commented on #122
Yup I'm aware of translate thanks! You're right in your assumptions for the most part; except that that the images aren't the size of the entire screen; think of vim-splits, except that each split is completely independently rendered, each split can have overlays, but the overlays can't escape the bounds of the split. So each Split would be a Picture (consisting of a base layer and any number of o

[2017-02-16 15:44] jtdaugherty commented on #122
Okay. I think I understand now. It does sound like an ability to compose pictures horizontally and/or vertically would get you what you want.

Right now Pictures declare a cursor to be positioned in the terminal. What should happen if I have two pictures `a` and `b`, both with cursor position requests, and then I want to display `a <|> b`? Since Picture is intended to represent the final view rend

[2017-02-16 16:12] ChrisPenner commented on #122
Yes I agree; I think it would make sense to have an intermediate representation; something like `LayeredImage` which provides compositing without needing to worry about Cursors yet; In fact even without an intermediate representation it should be possible to simply over-write parts of the base image with the overlaying image without rending down to SpanOps; something like `overlay :: Image -> Imag

[2017-02-16 17:15] jtdaugherty commented on #122
I don't think `overlay` is possible to implement given the current design, but I think something like `concatLayersWith :: (Image -> Image -> Image) -> [Image] -> [Image] -> [Image]` is probably feasible. I'm not sure when I'll have time to investigate this, so if you end up wanting to explore this then I'd be happy to consider patches if I haven't gotten to it yet.

[2017-02-24 17:28] bonds opened #123 "docs for CLI app newbs"
I'm a CLI app newb looking to make his first app. I'm fond of, and slightly experienced with Haskell, and thought using a Haskell CLI library might be neat. I found the one with ncurses bindings, and then started reading an [ncurses tutorial](http://www.tldp.org/HOWTO/NCURSES-Programming-HOWTO/index.html), but I started to wonder how much going through the ncurses tutorial was going to help me wit

[2017-02-25 03:49] jtdaugherty commented on #123
Thanks for the request!

On this note, it would help me to know a bit more about what would be helpful. Vty provides some demo programs in the `vty-examples` package, but it's true that we don't have much in the way of a step-by-step tutorial. There's a lot that could be meant by "newb" here, so it isn't obvious to me what you're missing that could be provided or helpful. Can you suggest some spec

[2017-02-25 18:08] bonds commented on #123
Ok, here goes.

The app I aspire to make is one where the user starts typing, and as they type, a list of potential matches is shown above, filling the available window space. As they continue to type (or even if they just wait), the list updates, reflecting both background progress on their search, and the changes they've made to the search query by virtue of typing. So, a sort of autocomplete UI

[2017-02-26 01:07] jtdaugherty commented on #123
What you describe goes *way* beyond what a tutorial would provide. However, `vty` *can* do what you want but a lot of boilerplate has to be written. You might consider taking a look at another library that provides a lot of the infrastructure to make your application much easier to write:

https://github.com/jtdaugherty/brick
http://hackage.haskell.org/package/brick

`brick` uses `vty` to do its t

[2017-02-26 07:11] simonmichael commented on #123
Also, hledger-iadd does quite a bit of this.

[2017-02-26 07:20] jtdaugherty commented on #123
Nice! @bonds - you can look at the program @simonmichael mentioned as a detailed example of `brick` usage:

https://github.com/hpdeifel/hledger-iadd

[2017-02-27 16:25] bonds commented on #123
Awesome, thanks for the tips! I'll checkout brick and hledger-iadd, and if I'm still lost I'll move the discussion to brick. And with that said, I suggest you link to those projects from the vty readme, to help future lost souls like myself. :) Might be neat to highlight some 'featured' projects that use vty in any case.

[2017-02-27 16:25] #123 closed, assigned to nobody

[2017-02-27 17:25] jtdaugherty commented on #123
@bonds great! I have considered adding `brick` to the README, and as much as it might be nice to promote my other project, I'd rather not do it from the `vty` README because I've only recently taken over maintaining this library and I don't want to use it for advertising. Both libraries are useful at different levels of abstraction and I think it's important for users to make that decision on thei

[2017-02-27 17:33] simonmichael commented on #123
Many people who find only vty will actually want brick, and brick users need to understand some of vty, so it's a good idea for each to at least mention the other. And these are two excellent libs, so promote away I say!

[2017-05-21 16:52] hvr opened #126 "Compile failure with base < 4.8, GHC < 7.10"
[code]

I've already revised the meta-data of the affected releases:

 - https://hackage.haskell.org/package/vty-5.15.1/revisions/
 - https://hackage.haskell.org/package/vty-5.15/revisions/

[2017-05-21 17:02] #126 closed, assigned to nobody

[2017-05-21 17:02] jtdaugherty commented on #126
I've updated the source to make this consistent. Thank you!

[2017-06-28 15:01] glguy opened #127 "charFill with negative width constructs invalid Image"
charFill should check its arguments for negative sizes and either cap them at 0 or throw an error. The current behavior constructs a malformed image that causes the screen draw process to fail.

Catching the error earlier will make it easier to find the issue and fix it.

Capping the minimum value to 0 would make charFill behave like standard replicate functions.

I'm not sure what the right behav

[2017-06-28 22:01] jtdaugherty commented on #127
I just recently fixed a bug of this same variety, and I think there are a number of spots that don't do adequate checking for negatives throughout the `Image` manipulation process, so more checks or graceful fallback behaviors are definitely desired.

For this, capping to zero would be less annoying to deal with, but then silently capping could fail to reveal a bigger problem in the caller's code

[2017-06-29 02:31] #127 closed, assigned to nobody

[2017-07-18 03:08] arcticmatt opened #129 "Keyboard key release?"
Is there a way to detect the release of a keyboard key (i.e. like EvMouseUp but for keys)? I've looked over the documentation and I think the answer is no, so thought I'd ask here.

[2017-07-18 17:00] jtdaugherty commented on #129
Key up/down events are not supported in Vty - you only get key events when the key is pressed, and repeated events if it is held down (at the locally configured repeat rate). Supporting them would require using raw input mode as described at https://stackoverflow.com/questions/1409216/receiving-key-press-and-key-release-events-in-linux-terminal-applications but that approach isn't portable. Sorry!

[2017-07-18 17:00] #129 closed, assigned to nobody

[2017-07-31 02:49] JeffreyBenjaminBrown opened #131 "Maybe a documentation issue: Infixes missing the surrounding ` marks"
Hi! Thanks for your work. I'm working through the Snake demonstration program for Brick, which is built on Vty, and enjoying it greatly.

On this page:

http://hackage.haskell.org/package/vty-5.16/docs/Graphics-Vty-Attributes.html

the first two code blocks use withForeColor as an infix, but without the surrounding ` marks. Am I correct that those should be there?

[2017-07-31 07:04] snoyberg opened #132 "Test suite build failure (due to GHC 8.2 perhaps)"
[code]

[2017-08-01 02:37] jtdaugherty commented on #132
Thanks for the report!

Interestingly, on Vty 5.16, GHC 8.2.1, and `cabal-install` 1.24.0.2, I do not see the above build failure with `cabal new-build --enable-tests`. I see the deprecation warnings, but none of the `cannot be found locally` errors.

[2017-08-01 02:53] #131 closed, assigned to nobody

[2017-08-01 02:53] jtdaugherty commented on #131
You're right - they're actually there in the Haddock comments but aren't escaped as they should be. Thanks!

[2017-08-01 03:04] glguy commented on #132
It seems that the problem is related to Cabal-2. I get the test build failures on GHC 8.0.2 with new Cabal. In particular I suspect that the detailed-0.9 test type isn't working correctly in new Cabal

[2017-08-04 05:46] jtdaugherty commented on #132
On the assumption that @glguy is right and this is related to Cabal 2, I'm going to close this since there isn't much I can do (and the original output strongly suggests Cabal is definitely broken there). If that turns out to be wrong, we can revisit. Thanks!

[2017-08-04 05:46] #132 closed, assigned to nobody

[2017-09-16 05:31] JeffreyBenjaminBrown opened #133 "Linux (Ubuntu, Konsole), modifier keys, and the representation of Tab"
I can't seem to use the modifier keys except for MMeta. I'm running a Brick app from within GHCI, from within Konsole, from within Kubuntu (Ubuntu distributed with KDE) version 16.04.

I'm using the `Editor` object created by the `editor` function from `Brick.Edit`. When I press, for instance, Ctrl-Enter, after setting the function so that it should treat that specially, it just drops the cursor.

[2017-09-16 17:03] jtdaugherty commented on #133
Have you tried:
 * Not running from within GHCI?
 * Using other terminal emulators?

Just so you are aware, modifier key combination support not only varies from emulator to emulator, but is often configurable - check your Konsole settings to see if there are modifiers that are disabled or mapped somehow. And be sure to try `urxvt` and `xterm`.

In my experience, modifiers with `Enter` often do no

[2017-10-01 02:56] jtdaugherty commented on #133
I'm going to close this since I don't think there are any Vty bugs reported here, but if that turns out to be wrong then we can just re-open. Thanks!

[2017-10-01 02:56] #133 closed, assigned to nobody

[2017-11-21 23:45] jtdaugherty opened #136 "Support bracketed paste mode in St"
The St terminal (https://st.suckless.org/) supports bracketed paste mode but `vty` falls back to the simpler non-xterm backend and that doesn't support any of the terminal modes such as bracketed paste. Vty could use a new backend similar to Xterm for St.

CC @tiedyeddevil

[2017-11-22 00:23] jtdaugherty commented on #136
This is now experimentally working on the https://github.com/jtdaugherty/vty/tree/feature/st-support branch. It has some issues, but at least paste mode is working.

[2017-11-22 17:26] jtdaugherty commented on #136
According to @TieDyedDevil St seems to support mouse events, so I'll also need to reinstate that mode in the St driver.

[2017-12-02 11:51] int-index opened #137 "5.18.1 prints escape sequences"
Bug observed with the following terminal emulators:

[code]

My app on `vty-5.18`:

![image](https://user-images.githubusercontent.com/4061728/33515130-0ffa2928-d770-11e7-82ec-b4500cc9925f.png)

My app on `vty-5.18.1`:

![image](https://user-images.githubusercontent.com/4061728/33515101-aad32540-d76f-11e7-8bbd-ffe365981558.png)

It works fine with XTerm(322).

[2017-12-02 17:20] jtdaugherty commented on #137
What is `TERM` in both of those cases?

[2017-12-02 17:25] jtdaugherty commented on #137
Oh, the problem is that Vty is emitting close hyperlink escapes (the right behavior) but that is only supported in Gnome Terminal starting at version 3.26. I don't know which version of xfce4-terminal supports it, but it's at least listed here: https://gist.github.com/egmontkob/eb114294efbcd5adb1944c9f3cb5feda

I'll look into a way to deal with this.

[2017-12-02 18:40] jtdaugherty commented on #137
Perhaps the biggest obstacles to fixing this are:
* Terminfo databases tend not to mention this feature because it is new (and beyond that, terminfo tends to be stale with respect to other features, even ones that *aren't* new). I would be shocked if this even makes it into terminfo ever.
* Moving this functionality into the Xterm-specific backend in Vty wouldn't even avoid this problem, because m

[2017-12-02 18:42] jtdaugherty commented on #137
From https://gist.github.com/egmontkob/eb114294efbcd5adb1944c9f3cb5feda:

Can you find out which version of VTE your `gnome-terminal` is using?

[2017-12-02 18:51] jtdaugherty commented on #137
In the mean time I'm going to work on a patch to make this optional (and default to disabled), similar to other modes (mouse, bracketed paste, etc.).

[2017-12-02 19:06] int-index commented on #137
`TERM=xterm-256color`

Sorry I didn't mention this in the report, I thought it was evident since it's the only change between 5.18 and 5.18.1.

I'm not sure what's the right way to find this out. but I opened the GitHub repo of `gnome-terminal` (https://github.com/GNOME/gnome-terminal), selected branch called `gnome-3-18`, and in `configure.ac` I found `VTE_REQUIRED=0.42.1`.

I am not sure why the

[2017-12-02 19:06] jtdaugherty commented on #137
(FYI, more context for xfce4-terminal can be found at https://bugzilla.xfce.org/show_bug.cgi?id=13534)

[2017-12-02 19:20] jtdaugherty commented on #137
Because otherwise the alternative is to track whether a URL was emitted and emit the close sequence conditionally. The same thing is done with color reset sequences: they are emitted at the end of every line to prevent color over-runs from one line to the next, which is also necessary with URL sequences.

[2017-12-02 20:03] int-index commented on #137
I see, for some reason I assumed that it's how it worked with color sequences (emitting conditionally).

[2017-12-02 22:41] jtdaugherty commented on #137
A fix is now ready on a branch: https://github.com/jtdaugherty/vty/tree/feature/optional-hyperlinking

Can you give it a try? (No changes to your program are necessary, since the new functionality just turns off hyperlinking by default.)

[2017-12-02 22:43] jtdaugherty commented on #137
(Also, @aisamanra, if you have time, please see the patch on the aforementioned branch so you're aware.)

[2017-12-02 22:44] jtdaugherty commented on #137
(@aisamanra - when this gets merged I will also update `matterhorn` to enable hyperlinking mode.)

[2017-12-03 06:30] int-index commented on #137
Tested with `d3235b1`, the issue is solved. @jtdaugherty

[2017-12-03 06:36] #137 closed, assigned to nobody

[2017-12-03 06:36] jtdaugherty commented on #137
The fix is now merged and released in `5.19`. Thanks for reporting this!

[2017-12-03 15:42] egmontkob commented on #137
Just for future reference:

The simplest way to figure out VTE's version is `echo $VTE_VERSION` (e.g. the value `4801` means VTE 0.48.1, etc.). This, however, produces misleading output if you start a new enough VTE-based emulator, and from that you start one based on an older VTE (which didn't set this environment variable) or start a totally different terminal emulator; since obviosuly VTE_VERSI

[2017-12-03 16:45] jtdaugherty commented on #137
Thanks, @egmontkob!

[2018-01-18 19:34] noughtmare opened #140 "Segmentation fault when cursor is too low"
The following code segfaults for me:

[code]

I think the y coordinate of the cursor is not checked before it is passed to the underlying c code.

[2018-01-18 20:33] jtdaugherty commented on #140
Thanks for the report!

[2018-01-19 04:18] #140 closed, assigned to nobody

[2018-01-19 04:19] jtdaugherty commented on #140
This is now fixed in `5.19.2`. Thanks!

[2018-02-06 16:14] ericnething opened #142 "GHC -threaded option required to build"
For anyone new to this library (like me), the first time they try to compile even the simplest "hello world" program, they are confronted with this error:

[code]

The solution is to include this in your .cabal file in `ghc-options:` under your executable block, but there is no indication that this is required in any of the documentation (as far as I could find). I thought I may have done somethin

[2018-02-06 16:40] #142 closed, assigned to nobody

[2018-02-06 16:56] jtdaugherty commented on #142
Thanks, I just pushed a patch to comment on this in the README and the `Graphics.Vty` haddock. I've also updated the Brick User Guide similarly:

https://github.com/jtdaugherty/brick/blob/master/docs/guide.rst#compiling-brick-applications
https://github.com/jtdaugherty/vty#development-notes

[2018-02-07 02:21] rampion opened #143 "Part-display outputs"
The `Output` generated by `Graphics.Vty.Output.TerminfoBased.reserveTerminal` clears the entire display and reserves its entire space for output.

It seems like it would be possible to generate an alternate terminfo-compatible `Output` that
- did not clear the display
- only reserved part of the display for the vty.

This would enable users to create applications that didn't dominate the entire te

[2018-02-07 19:02] jtdaugherty commented on #143
Let me know how that works out; I'd be open to having this in Vty if it does.

[2018-03-04 09:10] zenzike opened #144 "Support GPM"
General Purpose Mouse (GPM) provides access to a mouse on linux virtual consoles. It would be great if vty could support it!

[2018-03-04 16:59] jtdaugherty commented on #144
That would indeed be great. Looking around, it looks like the best way to do that would be to write bindings to the GPM C library. Right now there doesn't appear to be such a library on Hackage. While I don't have have to shave that particular yak, I'd be happy to work with someone who does.

So for now, since there is not immediately a path forward, I'm going to close this. But if you or anyone e

[2018-03-04 16:59] #144 closed, assigned to nobody

[2018-03-09 19:51] dmwit opened #145 "microlens now exports `(<>~)`"
As of microlens-0.4.9, `Lens.Micro` exports `(<>~)`, which clashes with `(Graphics.Vty.Input.Loop.<>~)`. (I would just fix it instead of reporting it, except that trying to build from this repo instead of Hackage gives me a bizarre dependency-solver error about `string-qq` that I'm still looking into. Sorry about that.)

[2018-03-09 19:57] jtdaugherty commented on #145
Thanks for the report! I'll hold off on doing something about this until you have more info.

[2018-03-09 21:27] dmwit commented on #145
More info on the `string-qq` errors [here](https://github.com/audreyt/string-qq/pull/1). Let me know if there was some other info you were waiting on.

[2018-03-09 21:33] jtdaugherty commented on #145
Thanks!

[2018-03-09 21:33] #145 closed, assigned to nobody

[2018-03-09 22:14] DanBurton opened #147 "vty-5.20 build failure with microlens-0.4.9"
Build failure as seen on the Stackage build server:

[code]

I was able to reproduce this error locally like so:

[code]

[code]

[2018-03-09 22:26] jtdaugherty commented on #147
This is a duplicate of the (fixed) issue #146. Thanks!

[2018-03-09 22:26] #147 closed, assigned to nobody

[2018-03-09 23:13] glguy commented on #147
There are a bunch of versions of vty on hackage now that don't build because they didn't have upper bounds in place on microlens, it's worth keeping this ticket open until that's fixed. I've asked @hvr about rerunning https://matrix.hackage.haskell.org/package/vty

Keep in mind that having these old versions around now will poison the solver, so it's not enough to just release a new version.

[2018-03-09 23:25] jtdaugherty commented on #147
It looks like Vty defined that operator itself starting in `5.5.0`, when I ported it from `lens` to `microlens`. So all versions going back that far need to have their metadata updated. Thanks, @glguy!

[2018-03-09 23:39] jtdaugherty commented on #147
I've updated the metadata for all versions starting with `5.5.0`.

[2018-03-10 23:44] Qwertie- opened #148 "Installing from cabal fails "vty-5.15.1 failed during the building phase.""
After cloning the repo and running cabal install -j. I'm installing on fedora 27.
[code]

[2018-03-10 23:45] Qwertie- commented on #148
Sorry. Opened this on the wrong repo :/

[2018-03-10 23:45] #148 closed, assigned to nobody

[2018-03-19 15:58] noughtmare opened #150 "Does nextEvent actually refresh on EvResize?"
In haddock it says:

https://github.com/jtdaugherty/vty/blob/6f4edc0228660fb407f48c070ba3cee8c7dc7615/src/Graphics/Vty.hs#L81-L82

But that is kind of misleading since that is a record which doesn't have an actual implementation. But even if I look at the implementation (given by `mkVty`):

https://github.com/jtdaugherty/vty/blob/6f4edc0228660fb407f48c070ba3cee8c7dc7615/src/Graphics/Vty.hs#L154-L1

[2018-03-19 18:20] noughtmare commented on #122
About the cursor problem: Why not use fake cursors (e.g. just a space with some nice cursor style)? Then you can also easily define multiple cursors.

[2018-03-19 21:55] jtdaugherty commented on #122
@noughtmare I'm not sure I understand your proposal. The issue here is not *how* to deal with multiple cursors (which is a matter of implementation) but *whether it makes sense*, which is a design question. The question I posed above still needs a good answer:

As I mentioned above, a "picture" in Vty is *defined* as the end-state representation to be shown in the terminal, where at most one curso

[2018-03-19 22:01] jtdaugherty commented on #150
Yeah, it looks like that bit of documentation is stale. It should just read
[code]
Are you reporting this because you wanted that behavior, or just because you wanted the docs to be consistent with the current behavior?

[2018-03-19 22:07] #136 closed, assigned to nobody

[2018-03-19 22:08] noughtmare commented on #150
I saw it while looking at the code for something else and I thought it was odd.

Note that the documentation on the refresh field of the Vty record is also outdated then.

[2018-03-19 22:10] #150 closed, assigned to nobody

[2018-03-19 22:10] jtdaugherty commented on #150
Okay, thanks! I've updated the docs.

[2018-03-19 22:15] noughtmare commented on #122
What I mean is why can't we make multiple displayed cursors possible? Then the composition of two pirctures would just show both cursors. I know that that it then won't be possible to use the real actual terminal cursor, but we can fake it.

[2018-03-19 22:26] jtdaugherty commented on #122
I have never encountered a terminal application with anything like multiple cursors and I think it would be surprising if the library let someone do this without opting into the behavior. I also think that it would be confusing to use such an application. I don't want Vty to make a potentially confusing situation easy to realize without deliberate effort.

With that said, I think that if anything

[2018-03-20 00:29] ChrisPenner commented on #122
@jtdaugherty I actually use multiple cursors in rasa, but as @noughtmare suggests I do this manually by keeping track of cursor state in my app and using Attributes to invert the colouring of the 'selected' text. Multiple cursors have complicated semantics and it's best to let the app layer handle them.

I agree with @jtdaugherty though, I think an interstitial representation to handle layers of i

[2018-03-20 00:31] ChrisPenner commented on #122
All that said, you can close this issue if you like; I haven't been actively working on Rasa in some time.

[2018-03-20 03:56] jtdaugherty commented on #122
@ChrisPenner Okay, I'll close it for now. If you resume work on your project and this again becomes a priority for you, please feel free to re-open.

[2018-03-20 03:56] #122 closed, assigned to nobody

[2018-03-24 13:47] emilaxelsson opened #151 "Image from text with ANSI codes"
I noticed that ANSI color codes aren't understood properly when using `text` to create an image. (I tried it in Brick, but assume it's a Vty issue.) The codes are passed through, but the image is cropped strangely, presumably because code characters are treated as having the same width as ordinary characters.

[trackit](https://github.com/emilaxelsson/trackit) contains a [function](https://github.

[2018-03-24 16:14] jtdaugherty commented on #151
I would be willing to add that function, but I'd like it to handle as much of the escape sequence feature set as possible: essentially, I'd want to make it so that `ansiImage` could handle anything one could make with an `Image`, and *maybe* cursor placement escapes (in that case it'd be `ansiImage :: Text -> (Image, Maybe (Int, Int))`). I'd also want it to include in its documentation a comprehen

[2018-03-24 20:05] emilaxelsson commented on #151
OK, I understand that a more full-featured function makes more sense for a mature package like Vty.

So, by "anything one could make with an `Image`", do you mean anything that's supported by `Attr`, or something more?

[2018-03-24 20:07] jtdaugherty commented on #151
Yes, that's right, sorry for not being clearer - as much as possible supported by `Attr`, and documentation about what's not supported if it's not practical to support everything. (For example, I'm not sure it's important to worry about hyperlinking.)

[2018-03-24 20:16] emilaxelsson commented on #151
OK, cool, I'll work towards that when I have time.

I'm closing this issue then and will make a fresh pull request when I have something ready.

[2018-03-24 20:16] #151 closed, assigned to nobody

[2018-03-24 20:17] jtdaugherty commented on #151
Very cool - thank you!

[2018-06-20 21:09] hojberg opened #152 "Space key"
How do I match a user pressing the space key?

[2018-06-20 21:19] jtdaugherty commented on #152
You match with `KChar ' '`.

[2018-06-20 21:48] glguy commented on #152
@hojberg You can answer questions like this using the included `vty-demo` executable. There you can mash keys and easily see what events are generated.

[2018-06-21 12:53] hojberg commented on #152
Thank you! :D

[2018-06-21 12:53] #152 closed, assigned to nobody

[2018-07-24 02:50] typesanitizer opened #154 "How do you read out "Vty"?"
Is it supposed to be vi-tee or vi-tie or something else?

[2018-07-24 03:28] jtdaugherty commented on #154
It's read by spelling it out: "Vee Tee Why."

[2018-07-24 22:30] #154 closed, assigned to nobody

[2018-07-24 22:32] typesanitizer commented on #154
Well, that's a bit unexpected :sweat_smile: . Do the initials stand for something? Or is like VTY because of VT1000?

[2018-07-24 23:03] jtdaugherty commented on #154
I honestly don't know the exactly etymology of the package name, but I've always thought that it was probably related to VT100 or to TTY.

[2018-07-25 00:20] typesanitizer commented on #154
Ok, that makes a lot more sense now. Sorry to bore you with such trivial stuff! It's just I kept mentally vocalizing it as "V T" (I just started writing a small thing with `brick`) until I realized that might not actually be the "right" way.

[2018-07-28 01:52] glguy opened #155 "Recent italics support seems cause rendering issue with bold and reverseVideo"
I'm testing this on the built-in Mac terminal.

Consider this program. Somehow it causes the text that should be bold to be invisible, and the second reverse video B to be flashing instead.

[code]

[2018-07-28 02:28] glguy commented on #155
https://github.com/jtdaugherty/vty/blob/181a5d77df911c3d510f11043a5af7b1d62493dd/src/Graphics/Vty/Output/TerminfoBased.hs#L452

this line is related, removing it fixes the bug. I'm still working out what the bug *is*

I looks like this element should only be in the list if italics are supported. Currently turning on italics causes reverse video effect to be applied in isolation.

My reading of htt

[2018-07-28 04:13] glguy commented on #155
https://github.com/glguy/vty/commit/551e1431082b7907eec48c04693def32c5bc746a working toward a fix. Italics still partially work under this model.

[2018-07-28 05:16] jtdaugherty commented on #155
Thanks for discovering/investigating this!

[2018-07-28 05:16] jtdaugherty commented on #155
Does the program you posted above misbehave on 5.22? I don't see how adding italics would have impacted that program.

[2018-07-28 14:28] glguy commented on #155
Yeah, the bug is new in 5.23.  adding italics causes the bug by sending an invalid SGR mode

[2018-07-28 14:30] glguy commented on #155
I think the fix is to restore the old SGR mode command by deleting the line I linked to above and then always using the start and stop control sequences when italics are involved in a style diff

[2018-07-28 15:00] glguy commented on #155
I'm going to exclude vty-5.23 from my build-depends sections, but we should probably revise it to be unbuildable by setting the base range to `<0` on hackage so that other packages don't pull it in.

[2018-07-28 23:01] glguy commented on #155
As a point of information, the reason I discovered this (I've learned) is that there's no sequence for turning off _reverse video_, you have to reset the attributes altogether to do that via the SGR command. Italics were working on the more common isolated case.

[2018-07-28 23:04] glguy commented on #155
Fixed in PR

[2018-07-28 23:04] #155 closed, assigned to nobody

[2018-07-29 00:54] jtdaugherty commented on #155
Thanks, @glguy!

[2018-07-29 00:58] jtdaugherty commented on #155
CC @milesrout

[2018-07-29 00:58] jtdaugherty commented on #155
(Fix released in `5.23.1`.)

[2018-07-30 16:18] glguy opened #158 "verify-attribute-ops test not implemented"
When investigating how to fix the CI test errors I noticed that https://github.com/jtdaugherty/vty/blob/master/test/VerifyAttributeOps.hs doesn't actually test anything. Should we remove this test? Should it test something?

https://github.com/jtdaugherty/vty/blob/master/vty.cabal#L151-L169

[2018-07-30 16:22] jtdaugherty commented on #158
Since there's not even any starter code or comments in that, I say let's remove it.

[2018-07-30 16:41] #158 closed, assigned to nobody

[2018-10-13 19:24] seagreen opened #159 "Make Graphics.Vty.shutdown idempotent"
This would make it easier to write applications that ensure Vty is shut down after a crash.

Alternatively, a quick way of checking whether Vty has been shutdown would be almost as useful. I tried using `refresh`, `nextEvent`, etc, but they hang for a second and then give `thread blocked indefinitely in an MVar operation`, which isn't ideal.

[2018-10-15 03:00] #159 closed, assigned to nobody

[2018-10-15 03:02] jtdaugherty commented on #159
The fix for this is now released in `5.24.1`.

[2018-10-15 19:10] seagreen commented on #159
This is awesome, thanks!

[2018-10-15 19:13] seagreen opened #160 "Add a way to report whether Vty is shutdown or not"
This is way less needed after https://github.com/jtdaugherty/vty/issues/159, but it would be nice in some circumstances to have an `isShutdown :: IO Bool` field on `Vty`.

I realize this would be a breaking change, but I'm curious what you think about it (and would be happy to make a PR if you do want it).

[2018-10-15 19:21] jtdaugherty commented on #160
How would it be a breaking change?

[2018-10-15 19:31] seagreen commented on #160
I was thinking that the only way to implement it would be adding a field to `Vty`, and that adding fields is a breaking change. Either of those assumptions might be wrong though:)

[2018-10-15 19:36] jtdaugherty commented on #160
I'm inclined to think that adding a field should be fine here, because nobody should be pattern-matching on the fields of a `Vty` value. In other words, I think the risk of breakage is extraordinarily small. Still, bumping the version to `5.25` is cheap enough that it would be fine to do that, too.

[2018-10-15 19:37] jtdaugherty commented on #160
As far as the actual proposal here, I'd be fine with the change you describe and it would just close over the `TVar` I added in the previous patch. If you want to submit a patch, that's great; otherwise I can get to it later today.

[2018-10-15 20:24] seagreen commented on #160
I took a stab at it here: https://github.com/jtdaugherty/vty/pull/161

[2018-10-15 20:27] jtdaugherty commented on #160
That looks good; I have one request, which is to remove the version bump and changelog entry. Bumping the version in the relevant patch can be a good idea, but I save that for release time, when I diff the changes since the last release and decide then what the appropriate version change is, and also write the changelog entries, collect ticket references, etc.

[2018-10-15 20:34] seagreen commented on #160
Absolutely! (force-pushed)

[2018-10-15 20:36] jtdaugherty commented on #160
Thanks!

[2018-10-15 20:38] jtdaugherty commented on #160
This is now released in `5.25`.

[2018-10-15 20:38] #160 closed, assigned to nobody

[2018-10-28 04:22] Javran opened #162 "setupTerm: Couldn't look up terminfo entry "xterm-256color""
Environment:
- gentoo linux
- sys-libs/ncurses-5.9-r101 (I created a symbolic link from `/usr/lib64/libtinfo.so.5` to `/usr/lib64/libtinfo.so` to avoid a build time error, see below)
- stackage snapshot lts-12.12
- vty-5.21
- in case it matters there are actually two versions of sys-libs/ncurses in my OS:
  + 5.9-r101(5/5)
  + 6.1-r3(0/6)
  + they are supposed to coexist thanks to [subslots](https

[2018-10-28 06:57] jtdaugherty commented on #162
I don't know enough about Gentoo to make use of many of the details you've provided, but: have you verified that the target of the symlink `/usr/share/terminfo/x/xterm-256color` indeed exists? As for the build issue, that appears to be a system library issue independent of `vty`, which I suggest you take up with the maintainer of the `terminfo` package: https://github.com/judah/terminfo

[2018-11-03 14:57] Mikolaj opened #163 "Ambiguous occurrence ‘-~’"
See https://travis-ci.org/AllureOfTheStars/Allure/jobs/450191623#L824

Probably a conflict with a new microlens.

[2018-11-04 15:42] jtdaugherty commented on #163
Thanks for the report! I've revised the metadata for the latest few releases of Vty on Hackage so they bound `microlens` to avoid this. I've also released my other fix (8f32f8ea4c4b70b31b15cbe21ab9890108cd4765) in `5.25.1` on Hackage.

[2018-11-04 15:42] #163 closed, assigned to nobody

[2018-11-04 16:24] Mikolaj commented on #163
Thank you! It works for me now.

[2018-11-21 10:45] NorfairKing opened #165 "Brick issue #197 seems to be related to VTY instead of to brick."
This code:

[code]

produces this output:

![out](https://user-images.githubusercontent.com/3521180/48576746-9ea50500-e915-11e8-9841-813fe2b36117.png)

This seems wrong. A border should not style the border of another widget.

[2018-11-21 15:26] jtdaugherty commented on #165
Thanks for the report! As I mentioned on the other issue, since I couldn't reproduce this behavior, it would be really helpful to me if you could provide an example of `vty` usage (no `brick` code) that reproduces this problem for you.

[2018-11-21 15:30] NorfairKing commented on #165
@jtdaugherty Oh dear, I've never used raw vty and I cannot justify spending the time there either. I'm also not convinced that the problem doesn't lie with brick's handling of widgets and borders and styles, but you're the expert there so I'll trust your opinion.

[2018-11-21 15:35] jtdaugherty commented on #165
Okay. In that case, we seem to be at a bit of an impasse. If something changes and you can provide a test case that reproduces this behavior for you (or point me at a complete program that does, instead), please re-open this. Thanks!

[2018-11-21 15:35] #165 closed, assigned to nobody

[2018-11-29 08:39] Javran commented on #162
I have been investigating for a while with anything noticable.
But today I did two things and it ended up fixing the problem:

- compile `sys-libs/ncurses-6` with `USE=tinfo`
- remove everything in `.stack/` except `.stack/global-project`, and re-setup stack again (I used LTS-12.20 but hopefully other snapshot will work

After these steps are done, I installed brick and now its demo works fine for

[2018-11-29 08:39] #162 closed, assigned to nobody

[2018-12-27 12:56] clojj opened #166 "feature request: keep ByteString (e.g. UTF8 encoded) type internally and write ByteString to terminal"
1) I think the doc-Text for `utf8Bytestring'` should read `Make an 'Image' from a UTF-8 encoded bytestring.` (this is the strict version, not lazy)

2) In my brick application, I would like to save resources and enhance performance by consistently using `ByteString` instead of `Text`. I was able to do this successfully, by using a ByteString-variant of brick's text-zipper and Markup-type/functions

[2018-12-27 16:52] jtdaugherty commented on #143
@rampion Did you ever make progress on this?

[2018-12-27 17:24] jtdaugherty commented on #166
As for (1), thanks, that's now fixed in 38948b4c4f4f4133d7b869e9e4e340e58bea5914.

As for (2), that's not possible right now. The chief reason is that internally, `Text` is used in `Image`s because image operations need to inspect the image contents *as text* to determine character widths, etc., meaning that even if the image constructors carried around bytestrings, decodes would still be necessar

[2018-12-27 17:24] #166 closed, assigned to nobody

[2019-01-19 01:03] simonmichael commented on #120
I have this working pretty well, in brick, like so:
https://github.com/simonmichael/hledger/blob/cc0764eac255edf7459c2b9ec13903a2ef51813b/hledger-ui/Hledger/UI/UIUtils.hs#L55-L88
You can suspend, resume, and after resume the screen redraws. But depending what was just drawn, the terminal attributes can be messed up while suspended (so you have to type "reset"). I'm having trouble figuring out how

[2019-01-19 01:39] jtdaugherty commented on #120
If you use Brick's `suspendAndResume` then that will take care of that for you.

[2019-01-19 01:40] jtdaugherty commented on #120
So you'd do something like
[code]

[2019-01-19 01:45] jtdaugherty commented on #120
(Put another way, in `brick`, `suspendAndResume` is the *only* correct way to handle control-of-terminal changes, because it is responsible for tearing down and starting up Vty.)

[2019-01-19 01:48] jtdaugherty commented on #120
Also, thinking about this now, I'm not quite sure how Vty can be responsible for handling suspend signals any better than it already does. Did @noughtmare have any particular expectation about how this was going to work? It seems to me that what to do in the event of such a signal really depends on the application in question, meaning that at the time of a suspend signal a clean shutdown of the cu

[2019-01-19 17:58] jtdaugherty opened #167 "Investigate possibility of 24-bit color support"
https://gist.github.com/XVilka/8346728

[2019-01-23 15:06] simonmichael commented on #120
Thanks for the quick response. I think suspendAndResume starts a new IO action so can't replicate Ctrl-Z functionality, ie suspending and returning to the original shell.

[2019-01-24 01:21] simonmichael commented on #120
With a little more time, I see it! Slightly mind bending, but it works perfectly. Thanks @jtdaugherty !
[code]

[2019-01-24 15:36] jtdaugherty commented on #120
Yeah, that's what I was thinking.

[2019-02-24 19:19] JeffreyBenjaminBrown commented on #133
This is a little late :) but I might as well confirm that it works in XTerm for me.  So yeah, probably not a VTY bug. Thanks!

[2019-02-24 19:37] JeffreyBenjaminBrown commented on #133
In fact it even works in Konsole now, unless I use tmux.  (I only learned about tmux this year, so I believe it really was a Konsole problem before, but they appear to have fixed it.)

[2019-02-27 12:41] Mikolaj opened #170 "Misleading haddock comment"
https://hackage.haskell.org/package/vty-5.25.1/docs/Graphics-Vty-Output.html#v:setCursorPos

says "column and row", but the code has the reverse "x y".

[2019-02-27 19:11] jtdaugherty commented on #170
I'm not sure what problem you're referring to. The code does indeed use `x` for the column, and `y` for the row, and the ensuing comparison is consistent:
[code]

[2019-02-27 19:17] Mikolaj commented on #170
Hah, I got it mixed up  The error was in my head, not in the haddock comment. Thank you. :) Closing.

[2019-02-27 19:17] #170 closed, assigned to nobody

[2019-02-27 19:17] jtdaugherty commented on #170
Okay, thanks - no problem!

[2019-04-21 07:26] mnn opened #171 "Bright colors printed as non-bright"
![Selection_050](https://user-images.githubusercontent.com/1975567/56466801-c80f1300-6416-11e9-9647-41fa3f50b305.png)

[code]

Terminal emulator is Terminology 1.2.1 and it supports bright colors (screenshot of `colortest-16`):
![Selection_049](https://user-images.githubusercontent.com/1975567/56466806-e83ed200-6416-11e9-9733-ac202da6b500.png)

Library version is 5.25.1 (I am using Stack).

[2019-04-21 15:21] jtdaugherty commented on #171
Thanks for the report! What produced the second image?

[2019-04-21 16:00] mnn commented on #171
It's `colortest-16` from `colortest` package in Ubuntu. I wasn't able to find exact same version online, so here's a gist - https://gist.github.com/mnn/f8a6e2b1b3e938f08cd2ebce36f85d28.

[2019-04-21 16:17] jtdaugherty commented on #171
Thanks. Have you reproduced this with any other terminal emulators?

[2019-04-21 17:20] mnn commented on #171
I am experiencing same issue with konsole and xterm. gnome-terminal is ok. All of them render the colortest-16 correctly.

![Selection_051](https://user-images.githubusercontent.com/1975567/56473326-1699cd00-646a-11e9-841d-9669898c8fa7.png)
From top: terminology, konsole, xterm, gnome-terminal (white is mapped to green, it's not a bug)

[2019-04-25 21:21] glguy commented on #171
While my color scheme is solarized and things look a little different than you might expect, vty successfully distinguishes the bright and non-bright colors on Terminal.app. What TERM value are you using?

When I'm using `TERM=xterm-256color` I get the following image:

<img width="293" alt="Screen Shot 2019-04-25 at 2 18 08 PM" src="https://user-images.githubusercontent.com/12164/56769124-2284d80

[2019-04-26 06:20] mnn commented on #171
Yes, `TERM=xterm` seems to be the cause. According to [this](https://unix.stackexchange.com/a/23789) it is not possible in many terminal emulators to get info about supported colors. [Script](https://gitlab.com/victor-engmark/xterm-color-count) from comments returns in terminology with default settings `8`. After enabling option `Set TERM to xterm-256color` bright colors work.

Is is possible in v

[2019-05-29 17:00] u-quark commented on #167
:+1: This would be really awesome to have!

[2019-06-03 06:42] iko-deleted commented on #167
I'm in need of a project, so I think I'm going to work on this.

Since vty uses terminfo for rendering, it would only be able to render 24bit color on systems with terminfo>= 6.1 installed, barring a rewrite of the renderer to use something else.

I'm not familiar with vty internals, but from a quick glance at the code, it doesn't seem like it would be that hard to do.

It's worth noting that the

[2019-06-03 14:28] jtdaugherty commented on #167
@cjenn that's great news, thank you! If you haven't already read it, please check out [the Contributing info in the README](https://github.com/jtdaugherty/vty#contributing).

[2019-06-07 02:44] iko-deleted commented on #167
I've got it working!

![Screenshot_2019-06-06_21-11-47](https://user-images.githubusercontent.com/47906531/59077749-842a7d00-88a1-11e9-9448-7f27704d7c32.png)

I still want to make some edits to the code+haddocks, and test some basic optimizations, but the majority of [the code](https://github.com/cjenn/vty/tree/directcolor) is complete.

This doesn't use terminfo for rendering; It just prints out

[2019-06-07 03:35] JeffreyBenjaminBrown opened #172 "rgbColor: Non-monotonicity, beyond-white brightness, and some documentation that confused me"
The documentation for the `rgbColor` function in [Vty-Attributes](http://hackage.haskell.org/package/vty-5.25.1/docs/Graphics-Vty-Attributes.html) implies that each number in an RGB triple can take 16 values. After experimenting, I discovered each value can be anywhere between 0 and 255. I suspect that documentation should read "256^3" where it currently read "16^3". (Or it could be even more expl

[2019-06-07 03:52] jtdaugherty commented on #167
Cool!

Out of curiosity, does it not use terminfo for a specific reason, such as there not being capabilities for this feature or something like that?

[2019-06-07 04:16] JeffreyBenjaminBrown commented on #172
I just noticed that in Terminator, Vty's black is not as dark as `gray 0`. (In Konsole they look identical.)

[2019-06-07 04:26] iko-deleted commented on #167
It should be trivial to add terminfo support, however the version of terminfo that supports this is only available on a handful of platforms, which doesn't include my laptop. I tried installing a local version, but couldn't figure it out. I'd be able to install it easier in a vm/nix, but for some reason that didn't occur to me until just now.

Even with terminfo support, we'd want to have this opt

[2019-06-07 17:45] iko-deleted commented on #172
I've updated/added plans to update the documentation to include these suggestions.

The non-monotonic grays occur in gnome-terminal, xfce's terminal, and vscode. they also occur if i set TERM=screen-256color; It definitely looks to be a vty issue.

[2019-06-07 18:38] jtdaugherty commented on #172
Thanks, @cjenn. @JeffreyBenjaminBrown As for the other built-in colors such as `white`, it comes down to the terminal emulator's choice of colors. The palette used for the 16 base colors is up to the terminal so it's not at all surprising that `white` in your case is less "white" than `0xFFFFFF`.

[2019-08-25 17:28] u-quark opened #175 "Better support for unicode character width"
When `vty` renders emojis it does not compute the right character width for them.

I know that, as discussed [here](https://github.com/matterhorn-chat/matterhorn/issues/125#issuecomment-260158200), there are no guaranties for terminal emulator behaviour but it seems like most implementations now use 2 characters, as specified in later Unicode 9 standard.

It seems that the vendored version of `wcw

[2019-09-09 02:50] typedrat commented on #167
Any progress on this?

[2019-09-09 15:09] iko-deleted commented on #167
This is almost complete. I'll try to get a pr in by the end of the week.

There isn't any real hold-up vty-wise; I just switched to a new computer a couple months ago and more or less forgot about this in the mess.

I was going to work on this yesterday, but I accidentally deleted my wifi driver. I'll get to work on it as soon as my laptop is back to normal.

[2019-09-09 17:12] jtdaugherty commented on #167
Thanks for the update, @cjenn!

[2019-09-09 17:22] jtdaugherty commented on #175
Thanks for filing this. I'm not exactly sure what the right path forward is, because in my experience, no approach works fully due to the issues you cited. For example, @glguy [had a problem](https://github.com/jtdaugherty/vty/issues/115) where an upgrade to Vty's `wcswidth` C code which ostensibly *fixed* Vty caused breakage for the terminal he was using because its width tables are stale (and ar

[2019-09-09 19:00] jtdaugherty commented on #175
I also want to say that while the issue is a thorny one, I very much would love it if we can improve the situation. The Matterhorn project I work on is particularly vulnerable to problems with character width because other Mattermost clients send wide emoji characters on a regular basis.

[2019-09-09 20:45] glguy commented on #175
I don't have a solution yet, but I've been using this code to figure out the current terminal's behavior.

I think we could make an executable to generate an efficient `wcswidth` table for each Terminal that we're interested in and let people configure the `vty` package accordingly. The library already has a notion of a user-level configuration file.

[2019-09-09 20:56] jtdaugherty commented on #175
I don't yet know if the choice of terminal emulator (and its attendant versions) is a good axis of configuration for Vty, but if it was, I'd be okay with that approach. In particular I don't know whether that makes for a good user experience, and we'd need to do some research on the correspondence between emulator versions and Unicode behavior. Lastly, I'd be concerned that the emulator version is

[2019-09-10 21:05] u-quark commented on #175
Thank you both for your answers! I will think about it and come up with a more concrete proposal.

Some questions:
@jtdaugherty Is it possible for vty to know the terminal (emulator) it is running against, and maybe the version. Is this something that is provided by terminfo maybe?
@glguy What code are you using to determine the terminal behaviour?

[2019-09-10 21:18] jtdaugherty commented on #175
Not that I know of. I believe the only way we can get this information is for the user / application programmer to tell us. This is why my original thinking about this was about configuring based on Unicode version, not terminal emulator -- not because Unicode version is easier to detect (it isn't), but because then we don't have to track emulator versions and associate them implicitly with Unicod

[2019-09-10 23:51] jtdaugherty commented on #175
@u-quark @glguy meant to link to this: https://gist.github.com/glguy/a802eaaac5a00ab41e3c3ca33507634b

[2019-09-10 23:56] jtdaugherty commented on #175
@glguy and I talked about this in person and concluded that another approach, if a tool based on the gist above is feasible, would be to have that tool interrogate the terminal to generate metadata that Vty-based applications could later load to influence their width computations. That would avoid needing to couple this to Unicode versions (which @glguy says won't be useful because they don't actu

[2019-09-11 16:39] u-quark commented on #175
Thanks for the info. I think the approach that you describe makes sense! I will look into this more and come back to you.

[2019-10-02 23:20] u-quark commented on #175
I did a small survey of the behaviour of terminal emulators based on the code from @glguy. Here are my results.

I tested the following terminal emulators on a fairly recent Debian unstable:
 * vte: GNOME Terminal 3.34.0 using VTE 0.58.0 +BIDI +GNUTLS
 * Konsole 19.08.0
 * Kitty 0.14.4
 * mlterm 3.8.8 (Features: otl ssh implugin imagelib(builtin) utmp)
 * urxvt (rxvt-unicode) v9.22 - released: 201

[2019-10-02 23:37] glguy commented on #175
vty already has an existing configuration file that we could extend.

I don't remember which characters broken last time we tried using utf8proc's implementation with vty, but I do remember noticing a lot more errors in Terminal.app in IRC channels at that time. I would guess it had to do with emojis but I don't remember. It's likely that this was on an earlier version of macOS than the current re

[2019-10-03 20:35] u-quark commented on #175
We should use the existing configuration file, as you suggest.

I probably copy-pasted the wrong file for Terminal.app. Can you share the file you got from Terminal.app so we have all the information in one place?

Do you think overall this is a good solution? Especially if you had problem with emoji before this should address that. I think we can give it a try and test it on a few machines to see

[2019-10-10 16:58] jtdaugherty commented on #175
@u-quark thanks for all of your work on this, that's fantastic! A few comments:

Assuming I understand what you have in mind, I think this would be okay as an application-driven behavior, but *not* as an automatic Vty library behavior. The tests we'd need to run would take time and lead to a confusing startup delay of the application. So if Vty were to provide functionality to perform this testing

[2019-10-10 21:58] u-quark commented on #175
That makes sense and we can figure out what the better default config is later. That said I am hoping that the checks are almost instant and imperceptible.

The choice of the implementation would be done when you initialize the configuration after the tests mentioned above, and based on their results. When I say "based on the character width of an emoji" I mean the observed width from the terminal

[2019-10-10 22:35] jtdaugherty commented on #175
I'm not sure we are talking about the same thing by "the checks" here. Above, I proposed that if we are going to use @glguy's tool functionality to determine what the local terminal thinks about Unicode characters, it would be good to make a tool that users can run that saves the results of the time-consuming analysis. Then, Vty would load that saved data and use it as an alternative to a width fu

[2019-10-12 18:41] u-quark commented on #175
What I don't like about this approach is that if an application uses emoji regularly it is going to be broken from the beginning. Requiring the user of this application to first run some other script that is going to take ~2h is not a very good experience. Same for having to write a configuration file. That's why I propose having a few build-in implementations and choosing the most compatible by d

[2019-10-14 15:44] jtdaugherty commented on #175
Why would this be the case? As I understand it, using the tool mentioned above would prevent this.

I agree.

What would the "mini test" be?

[2019-10-14 16:48] u-quark commented on #175
Because there is the caveat mentioned below. If the user does not use the tool mentioned above then they will have a broken experience.

---

I assume we can look at the width of a single emoji (or maybe two) using @glguy code and assume that the rest behave the same way.

[2019-10-14 16:51] jtdaugherty commented on #175
Since there are many emoji added in each Unicode version, there is no single emoji that will predict how the terminal will behave for the rest. The terminal can also freely implement only part of the character ranges for each Unicode version, meaning that we can't rely on the terminal's behavior with one character in a particular version to represent how the terminal will handle others.

[2019-10-14 16:57] u-quark commented on #175
Ok, what could we do instead then?

[2019-10-14 17:31] jtdaugherty commented on #175
As far as I can tell, there are two extremes:

* Extreme A: Do nothing, and things will continue to work (or not work) as they do right now. This approach means the level of brokenness will vary based on the factors you covered in your analysis above.
* Extreme B: poll the terminal to get its width for as many wide Unicode code points as possible. This approach can be exhaustive and give good beha

[2019-10-14 20:09] jtdaugherty commented on #175
I'll also add that a hybrid approach is also possible. Users who want to run the tool that will generate the 100% correct database of widths can always do so, and users who don't want that can rely on the library's smart choice of width implementation to get it right more of the time than Vty currently does.

In that case, though, I still want to figure out how that implementation will be selected

[2019-10-23 14:10] u-quark commented on #175
So, I finally got some time to come back to this and to write some code for it.

See #179 for my take on it. I've tested it on a few terminals and it seems to work pretty well. I haven't tested this on Mac. Please provide specific examples if/where this breaks for you, possibly using `vty-wcwidth-tester` utility.

This implementation, of course, is not perfect. But I think, if #179 is not controve

[2019-11-03 01:13] qcc-na opened #180 "Additional Mouse Buttons"
Would it be possible to add support (if there isn't already) for Mouse4 and Mouse5 buttons?  These are typically associated with back and forward buttons on more modern mice.  My use case is a browserlike application with historical navigation, aka going back and forth between pages.  Ultimately I'd use this functionality through brick.

https://i.stack.imgur.com/FdVVN.png
![image](https://user-im

[2019-11-06 18:13] glguy commented on #180
Do you know of a terminal that supports this? As far as I know neither Terminal.app nor iTerm support it, for example.

[2019-11-06 22:40] jtdaugherty commented on #180
@qcc-na The reason Vty doesn't support additional mouse buttons is because the control sequences we get from the terminal don't include that information. Only two bits are used to represent the mouse buttons involved, so we can't support more than three. You can find more details here:

https://unix.stackexchange.com/questions/518479/complex-mouse-inputs-in-xterm

[2019-11-06 22:40] #180 closed, assigned to nobody

[2020-01-03 21:35] u-quark commented on #167
@cjenn Do we have any updates on this?

The code from @cjenn works fine for me. The only issue is that the detection of 24-bit color support is not working without looking at the `COLORTERM` environment variable additionally to looking at the terminfo capabilities. For context most terminal emulators support this environment variable: https://gist.github.com/XVilka/8346728#true-color-detection

@j

[2020-01-03 23:38] u-quark commented on #167
I need to have a look at the tests because they are failing.

[2020-01-04 19:18] u-quark commented on #167
I added a commit to the branch that fixes the tests. I think it makes sense to set config `colorMode` to `NoColor` since the terminals types tested (vt100, vt220, ...) don't support color in general.

[2020-02-02 22:55] Yvee1 opened #184 "Change cursor shape"
This is more a question than an issue maybe, but would it be possible to add functionality for changing the cursor shape? I know that vim changes the cursor shape, and that various escape codes exist for doing this (see [this vim wiki](https://vim.fandom.com/wiki/Change_cursor_shape_in_different_modes))

[2020-02-02 23:23] jtdaugherty commented on #184
I'm not sure how easy that would be. The main thing to consider in adding this to Vty is terminal compatibility. One way that can be evaluated is by figuring out whether the thing you want to do (in this case, change cursor style) is specified as a `terminfo` capabillity. That way, Vty can consult the terminfo database for your terminal type to determine the right escape to use. This is how Vty's

[2020-02-27 17:55] jtdaugherty commented on #184
I'm not sure how to interpret your "thumbs up," @Yvee1 - but I don't think there is anything else that can be done on this ticket so I'm going to close it.

[2020-02-27 17:55] #184 closed, assigned to nobody

[2020-02-27 18:23] jtdaugherty commented on #171
@mnn It is possible to force Vty into 16-color mode:
[code]

[2020-02-27 22:34] jtdaugherty commented on #175
@u-quark - thank you for your work on this! I have once again gotten time to come back around to this. After thinking on the results of your investigation and #179, and after talking about some concerns we had, @glguy and I are going to take new approach which I'll detail below. Consequently I'm going to close your pull request, although some of the work you did there will be migrated over (in par

[2020-02-27 22:46] jtdaugherty commented on #175
My work on this will be happening on the `feature/unicode-tables` branch.

[2020-02-28 00:51] jtdaugherty commented on #175
Steps (2) and (3) above are now complete.

[2020-03-02 22:11] jtdaugherty commented on #175
As of 74a7c557fb895e8dc5bd739d2e27cb243f18d5b1, (4) and (5) are now complete, with some caveats:

* Rather than provide a thread-safe, general API for swapping tables, @glguy and I decided to support at most one custom table installation. The reasoning is detailed in the commit log.
* The `wcwidth` function is pure, but behaves impurely once a custom table has been installed. The reasoning for thi

[2020-03-02 22:40] jtdaugherty commented on #175
As of 9edfd029cb5275b7d2e43d83e2487e46c9d02c98, (6) is now complete.

[2020-03-02 22:46] u-quark commented on #175
@jtdaugherty All of this plan seems good! Except for one point. The default built-in behaviour. When someone tries one of the vty application they will not run some other command line tool to fix their broken layout. They will just assume that the application is broken. I see no reason for not switching the default implementation to the on from #179 if it makes things better.

[2020-03-02 22:48] glguy commented on #175
If we have configurable tables I think it makes sense to update the default table if it actually is a better default

[2020-03-03 00:03] u-quark commented on #167
@jtdaugherty Do we have any updates on this and #182 ?

[2020-03-03 00:05] jtdaugherty commented on #167
@u-quark no. I have not had time to take a closer look at the work on this ticket.

[2020-03-03 00:21] jtdaugherty commented on #175
I agree that switching the default implementation to a different one is worth doing if the new implementation results in more correct answers about widths, more of the time, with most terminal emulators. What I don't know is how to determine whether a new implementation actually *is* better. In the past, I've upgraded the `wcwidth` implementation in `vty` only to find that it actually made things

[2020-03-03 00:44] u-quark commented on #175
I would agree but:

1. A few years have passed since that decision and terminal emulators have been updated.
2. The short survey I did seems to suggest that the new implementation performs better.

Maybe you could try the implementation in #179  on a few terminals that you had problems with last time and see how it performs so that we get a better idea.

[2020-03-03 00:53] jtdaugherty commented on #175
I haven't commented on the specific merits of the implementation in #179 because I've been focused on the bigger issues with the approach we've discussed in this ticket. With that said, I am not excited about merging the implementation in #179 because I'm not sure I trust the provenance of it (Musl is a great library for what it is but strikes me as a strange choice for where to borrow this from),

[2020-03-03 21:19] jtdaugherty commented on #175
As of 16d5f27832ed04e77aefb9430473ee64c07c547b, the `Config` has a field `allowCustomUnicodeWidthTables` (defaulting to `True`) that allows a Vty user to suppress custom table loading that `mkVty` will now do when it finds a custom table declared in the Vty configuration file.

At this point I've also tested the custom table functionality with [matterhorn](https://github.com/matterhorn-chat/matter

[2020-03-03 22:07] u-quark commented on #175
I do agree the implementation based on musl code is more complex compared to the one currently in vty. The reason is performance and space of the Unicode tables. The implementation is using a two step lookup in C arrays so that it balances quick lookup with size of the produced binary (the array stored in code). I don't pretend I fully understand it. The existing code in vty is using a binary sear

[2020-03-03 23:24] jtdaugherty commented on #175
I'm not sure, really. Your findings above suggest that this is even more of a moving target than I originally thought, since the amount of computation/emulator disagreement is all over the place. The most exhaustive way to gauge the impact of a change in implementation would be to run the tests you ran above, but on all of the emulators we anticipate people will use. That's impractical. I think th

[2020-03-05 21:00] u-quark commented on #175
@jtdaugherty Your points are all valid. I do agree that testing the impact of the change is difficult, I also agree that the solution with loading external pre-computed tables is a good one and it solves all the problems for regular users. I am very happy we are seeing progress in this ticket. After @glguy's input and if you are still on board with the idea, I think it is a good ito give `utf8proc

[2020-03-09 20:41] jtdaugherty commented on #175
The work in this ticket is now complete and has been released in `5.28`. Thanks @u-quark and others for your persistence in helping us work on this ticket!

[2020-03-09 20:41] #175 closed, assigned to nobody

[2020-03-09 20:59] u-quark commented on #175
Thanks for all your work @jtdaugherty !

[2020-03-26 23:22] glguy opened #185 "BuildWidthTable doesn't build on old GHC"
I got this build failure on an old 7.10 build. We should either update the base lowerbound or make it build again on old GHC

[code]

[2020-03-26 23:37] jtdaugherty commented on #185
It looks like just adding this to the `executable` section is enough, but I don't know if it's the right way to handle this:
[code]
(That is just borrowed from the similar `build-depends` configuration for the library itself.)

[2020-03-26 23:38] jtdaugherty commented on #185
Granted, even with that resolved, there are other warnings on 7.10.3 that I'm seeing:
[code]
And so on.

[2020-03-27 16:06] glguy commented on #185
This warning suggests to me that the version of GHC isn't that compatible with the OS you're building on, rather than that vty is wrong.

[2020-03-27 16:09] jtdaugherty commented on #185
Strange; I just installed it with `ghcup install 7.10.3`, but probably it just has issues with macOS Mojave. So assuming I can ignore those warnings, what do you think of the fix I posted above?

[2020-03-27 16:11] glguy commented on #185
I think your fix is the right approach. Sorry I didn't put more effort into a fix yesterday. I had something else going on and just made the issue to ensure this didn't get dropped.

[2020-03-27 16:12] jtdaugherty commented on #185
No problem! Thanks!

[2020-03-27 16:12] #185 closed, assigned to nobody

[2020-03-27 16:14] jtdaugherty commented on #185
Released in `5.28.2`.

[2020-05-02 22:43] stephen-smith opened #186 "Clarify "escape" wording in documentation."
At https://github.com/jtdaugherty/vty/blob/master/src/Graphics/Vty/Image.hs#L141 and in other places both in the Vty and the Brick documentation you mention a string "containing escapes".

Do you mean that it literally cannot contain the [U+001B codepoint](https://www.fileformat.info/info/unicode/char/001B/index.htm) and all other Unicode scalars are fine, or are there other Unicode scalars that I

[2020-05-02 22:51] jtdaugherty commented on #186
I'm happy to update the docs. To answer your question here, though: yes, "escapes" in the Vty/Brick docs refers to ASCII 27, or Unicode U+001B. The reason is that Vty manages attributes itself and if you provide a string containing your own escape sequences, Vty makes no guarantee at all about the resulting on-screen representation in terms of either attributes or layout. The same goes for carriag

[2020-05-02 22:53] #186 closed, assigned to nobody

[2020-05-02 22:54] jtdaugherty commented on #186
The haddocks in `master` are now updated. Thank you!

[2020-05-02 22:55] jtdaugherty commented on #186
Also relevant: https://github.com/jtdaugherty/brick/commit/5b94b596c4e8a0e43f241160ee741767b498ab34

[2020-05-02 23:15] stephen-smith commented on #186
Wow!  Thanks for amazingly fast response!

[2020-07-07 09:22] romanofski opened #187 "vty does not restore terminal line setting if process messed with it?"
Background issue with reproducer and detail: https://github.com/purebred-mua/purebred/issues/336

Long story short, when using Brick's `suspendAndResume` to run `vim` in a separate process, killing vim leaves the terminal line settings messed up so that the continuing Brick application can't correctly handle input any more. Digging through other applications, a terminal Python library and vty it s

[2020-07-07 15:49] jtdaugherty commented on #187
Interesting. What I can say at this point is that this *shouldn't* happen, because `brick` just creates a brand new `vty` context in `suspendAndResume`. [Here is the relevant code in brick.](https://github.com/jtdaugherty/brick/blob/master/src/Brick/Main.hs#L256) But that "shouldn't" depends on whether `vty` is making assumptions about what its terminal setup duties are; maybe killing `vim` leaves

[2020-07-07 21:36] romanofski commented on #187
Thank you so much for the pointers! I have the suspicion that the new vty context is using the terminal settings vim has set, not what the terminal was originally **set to**.
I will check to verify whether that's true or not, since I don't know the code that well.

[2020-07-07 22:49] jtdaugherty commented on #187
Yeah, I think a challenge is that what the terminal was "originally set to" before the application started really has no relationship to what the terminal state is in when `vim` stops, from the Vty/Brick perspective. I think the Vty/Brick application is responsible for restoring the state to what it is prior to it taking over the terminal, but if that original state was garbage, it should restore

[2020-07-08 09:30] romanofski commented on #187
Hm I had to think about your comment a bit. Just to confirm I understand you correctly: For you "suspending" is equivalent to stopping and starting the application which forks the process. The difference here is just, that during the start, the process didn't clean up the terminal correctly so that the starting Vty/Brick application is using a "messed" up terminal?

So it comes down to whether the

[2020-07-08 16:22] jtdaugherty commented on #187
That's right. If you look at [the implementation of `suspendAndResume`](https://github.com/jtdaugherty/brick/blob/master/src/Brick/Main.hs#L256), it calls `shutdown` on the current `vty` handle (which restores the terminal state to what it was prior to taking over), invokes the user-supplied `IO` action (which in Matterhorn's case runs the external editor), and then takes over the terminal again b

[2020-07-08 16:42] jtdaugherty commented on #187
Another option would be to make `vty` issue the same reset sequences that `tput reset` (or just `reset`) does, although I find that when I run `reset` on the command line it takes about a full second to complete. I'm not sure I like the idea of introducing that delay into the `vty` startup procedure (or Matterhorn's pre-resume behavior) but I could imagine providing the functionality as a last res

[2020-07-08 21:44] romanofski commented on #187
No it's absolutely not the normal use case and I'm battling a bit with myself whether it's a problematic enough that there should be a solution for it. It does irk me a bit that other mailers handling the possible scenario nicer however.

I agree, I don't think a whole reset is a good way forward. Not that I would know a special case, but I would wonder whether a whole reset would destroy someone'

[2020-07-08 21:47] jtdaugherty commented on #187
That makes sense to me. I don't mean to suggest it isn't worth dealing with this problem better. I only wanted to understand more about the situation.

I'd be happy to dig into this problem more if I could reproduce it, actually. My test that I reported on the purebred ticket was one where I wasn't seeing the behavior, but if I could reproduce, it would give me something to work against. Can you s

[2020-07-08 21:50] jtdaugherty commented on #187
I'm also curious to know a bit more about the problem when it arises. Does the above text mean that the input doesn't arrive to the application? I.e., you press keys, but the application isn't responding?

[2020-07-08 23:28] romanofski commented on #187
I've checked a bit more. I do have vim plugins installed and I have the suspicion that perhaps one of them causes some form of clean up in vim not to run. If I run vim without my configuration file:

[code]

and kill this process (simple `SIGTERM`, the terminal is correctly reset back to:

[code]

[2020-07-08 23:31] romanofski commented on #187
I'm attaching my  [vimrc](https://github.com/jtdaugherty/vty/files/4893718/vimrc.txt). I can reproduce the terminal changes with this config. Terminal has changed to:

[code]

[2020-07-09 00:14] jtdaugherty commented on #187
I don't see any noticeable terminal misbehavior but I do see a difference in `stty` output with that configuration.

Before running `vim`:
[code]
and after the `kill -TERM`:
[code]

[2020-07-09 00:16] jtdaugherty commented on #187
That `pendin` flag is awfully interesting because it does relate to input processing, and to canonical mode (which is important to `vty`).

[2020-07-09 00:22] jtdaugherty commented on #187
On further investigation, it doesn't look like the `pendin` flag can be changed with `stty`; it seems to just be reporting on the status of the terminal.

[2020-07-09 00:22] jtdaugherty commented on #187
With that out of the way, that means my `stty` outputs are otherwise identical.

[2020-07-09 00:31] jtdaugherty commented on #187
I also tried using your `vimrc` with `vim` and launching it from `matterhorn` and killing `vim`, but Matterhorn's input processing was unaffected after `vim` terminated.

[2020-07-09 00:31] jtdaugherty commented on #187
(Matterhorn is a `brick`/`vty`-based application)

[2020-07-09 00:33] jtdaugherty commented on #187
Oh, actually: `matterhorn` *seemed* fine but `Enter` keypresses were apparently not received. When I exited Matterhorn, the terminal state was just as broken for me as it seems for you.

[2020-07-09 00:35] jtdaugherty commented on #187
I can also confirm that I was able to get into that broken state with my own `vimrc`, so I don't think your config necessarily includes anything critical to reproducing this.

[2020-07-09 00:40] romanofski commented on #187
Yes the `Enter` key not working was the initial question mark as to why I was unable to navigate out of Purebred and filed the issue.
Interesting to hear that you can reproduce it with your own configuration. I'm now almost wondering whether a specific vim configuration in regards to terminals might cause it.

Btw. in case it matters, I can reproduce the problem on Fedora 31 and NixOS 20.03.2015.e

[2020-07-09 01:14] kquick commented on #187
You might want to use `stty -a` and check the values for `icrnl` and `inlcr` (also `ocrnl` and `onlret` for the output behavior above).  See https://linux.die.net/man/1/stty.

[2020-07-09 01:20] kquick commented on #187
And these would be controlled in libc via https://linux.die.net/man/3/termios

[2020-07-09 01:41] kquick commented on #187
Testing via matterhorn, matterhorn+emacs works fine, but matterhorn+vi reproduces the issue for me as well.  When back in matterhorn, `Enter` and `C-m` (carriage return) are ignored, but `C-j` (newline) works.

Comparing the pre-`stty -a` output to the post-vi-`stty -a` output, I can see changes:

[code]

And just for completeness, this is with `VIM - Vi IMproved 8.2 (2019 Dec 12 ...)`

[2020-07-09 17:44] jtdaugherty commented on #187
Looks like `vty` may need to explicitly set some flags. Currently it is only clearing flags, which suggests my hypothesis about this ticket might be right. The flag list is implemented as the `TerminalMode` type [here](https://hackage.haskell.org/package/unix-2.7.2.2/docs/src/System.Posix.Terminal.Common.html#TerminalMode) and the flag clearing (but not setting) is [here](https://github.com/jtdaug

[2020-07-09 17:53] jtdaugherty commented on #187
It also occurs to me that I'll need to think carefully about how Brick's `suspendAndResume` should handle flag changes because I wouldn't want a program that poisoned the terminal state in a `suspendAndResume` to cause that poisoning to be carried through to the `vty` application exit and terminal state restore.

[2020-07-09 20:56] jtdaugherty commented on #187
After playing around with this, setting `icrnl` at `vty` initialization time seems to be enough to get the Vty-based application to behave well enough after starting after a killed `vim` as described in this ticket. I don't fully understand how the behavior of the `onlcr` flag could or should affect Vty-based applications; my read of the documentation suggests to me that it should not matter what

[2020-07-09 21:01] jtdaugherty commented on #187
The patch for this fix is on the `bugfix/terminal-init-flags` branch for testing.

[2020-07-09 21:09] romanofski commented on #187
\o/ I'll give it a go :)

[2020-07-09 21:12] jtdaugherty commented on #187
(Also, incidentally, as of `unix-2.7.2.2`, the `TerminalMode` type doesn't even provide a constructor for `onlcr`; it's listed as a TODO.)

[2020-07-09 21:35] romanofski commented on #187
Yeah this now behaves much better.

I wonder if I not better follow the rabbit hole down to figure out what's causing vim to leave the terminal in this state. I so far can't put a finger on it what exactly is causing this. I asked on `#vim` on freenode yesterday and it seems for some it's not simply reproducible. Interestingly enough, even my `vim -u NONE` invocation now leaves the terminal in a b

[2020-07-09 21:36] jtdaugherty commented on #187
@romanofski Thanks for testing, I'm glad to hear it helps!

As for `vim`, I think it's really just a matter of `vim` not resetting the terminal flags back to what they were when it started when a kill signal is received. The flag state it's leaving behind is the state it needed to run, but it's just not a good state for whatever runs next.

[2020-07-09 21:37] jtdaugherty commented on #187
From https://www.gnu.org/software/libc/manual/html_node/Termination-Signals.html:

So it's possible to set up a handler for `TERM` that restores the terminal state.

[2020-07-09 22:06] jtdaugherty commented on #187
To address the Brick `suspendAndResume` issue I also added 812e8734999204a5b2b7308c2aaef77a49d5acb7. The fixes on my branch have been merged to `master` and will be released shortly. I'll follow that with a `brick` release to make `brick` applications immune to propagating terminal input state corruption through to their final terminal states. Thanks, everyone!

[2020-07-09 22:06] #187 closed, assigned to nobody

[2020-07-09 22:12] jtdaugherty commented on #187
This is now released in 5.29.

[2020-07-09 22:25] jtdaugherty commented on #187
Brick 0.55 is now released as well.

[2020-07-09 22:46] jtdaugherty opened #188 "Support setting terminal window titles"
Details:

https://tldp.org/HOWTO/Xterm-Title-3.html

[2020-07-15 17:49] #188 closed, assigned to nobody

[2020-07-15 17:49] jtdaugherty commented on #188
(Fixed by cb08446df4da47b219d9230ed4890b5bf0f837c4)

[2020-07-18 18:14] jfischoff commented on #167
I'm also interested in this.

[2020-08-29 21:56] ramirez7 opened #191 "Export Graphics.Vty.Image constructors"
I'm writing some [`BearLibTerminal` bindings for Haskell](https://gitlab.com/macaroni.dev/bearlibterminal-haskell) and I thought one good use of them could be a `vty` backend [1]

The `Vty` type seems nice and abstract (record of functions) so I think I could just implement that..however when I dug deeper, I think I cannot implement `update :: Picture -> IO ()` because `Image` (within `Picture`) d

[2020-08-29 22:47] jtdaugherty commented on #191
That's a neat project!

Before I agree to export the `Image` constructors, I think it would be helpful if you could do your work against a fork with the constructors exported just to see how far that will get you. Implementing a new backend for `vty` that is not actually a terminal might run into some design assumptions that need to be surfaced, and the library is not designed with this use case i

[2020-09-09 22:43] jtdaugherty commented on #191
@ramirez7 Thoughts?

[2020-09-10 18:52] ramirez7 commented on #191
Oh sorry I forgot to ack!

Yeah I think that sounds like a good plan. I'll look into the `SpanOps` stuff. It's possible I'll want to have the option for rasterization to be wrong from Vty's to allow the user to take advantage of [BLT's tile composition](http://foo.wyrd.name/en:bearlibterminal:design). But your suggestion will be useful to help me provide an option for parity as well.

[2020-10-12 23:34] jtdaugherty opened #192 "Expose API to check for italic and strikethrough support"
It would be helpful if users can ask Vty whether the terminal connected to a `Vty` handle provides support for italics and strikethrough. Those are driven by the presence of terminal capabilities in `terminfo`, so we can expose a check for those. The documentation should note that even the presence of capabilities does not guarantee that either font style will render correctly or be supported by t

[2020-10-13 15:53] jtdaugherty commented on #192
@glguy If you want to try this out, it's ready: https://github.com/jtdaugherty/vty/commit/bcbf7fabc175353fc90e51c547bc2a4ffb24a39c

[2020-10-13 15:54] glguy commented on #192
Thanks, I'll do that today!

[2020-11-05 01:25] glguy opened #193 "Missing Meta-modified Page Up and Page Down"
These keys are bound by vty.

I'm correcting it locally with `~/.vty/config`

[code]

which is working for me in iTerm2.

[2020-11-05 02:15] #193 closed, assigned to nobody

[2020-11-05 02:16] jtdaugherty commented on #193
Thanks, this should be fixed now on `master`.

[2020-11-05 02:20] jtdaugherty commented on #193
I think the correct way of fixing this would have been to look for `\ESC` followed by the `knp` or `kpp` capability strings, but I haven't looked into what that would take. So for now I just hard-coded these cases.

[2020-11-09 04:44] jtdaugherty commented on #192
The API I added for this ticket is now released in 5.32.

[2020-11-09 04:44] #192 closed, assigned to nobody

[2021-01-08 23:45] sjakobi opened #198 "GHC-8.0.2 hangs while building vty"
Apparently this issue was introduced in v5.23.1: https://matrix.hackage.haskell.org/#/package/vty

How about revising the `base` bounds to exclude `base-4.9`, so `cabal` can resolve to use `vty < 5.23`?!

[2021-01-10 00:05] jtdaugherty commented on #198
Thanks for the report!

I investigated this a bit. What I found is that the issue affecting 8.0.2 is much older than 5.23.1; it just shows up on the GHC build matrix at the point it does due to the GHC build matrix environment's memory size. On my own machine, which has 16 GB RAM, I was able to successfully build the latest version of vty with ghc 8.0.2, but the build of the offending module (`Ter

[2021-01-10 02:45] sjakobi commented on #198
I was trying to fix some GHC compatibility issues in `vgrep`, which depends on `vty`. While building `vgrep` with `cabal`, I noticed  that building `vty` was taking a very long time, while seemingly consuming an ever-increasing amount of memory.

My ad-hoc suggestion to exclude `base-4.9` for `vty >= 5.23` would have prevented me from running into this issue. Admittedly this might pose a problem f

[2021-01-12 16:33] jtdaugherty commented on #191
@ramirez7 I'm going to close this since it's been a while; please re-open if needed!

[2021-01-12 16:33] #191 closed, assigned to nobody

[2021-01-18 06:01] jtdaugherty commented on #198
Okay, that makes sense. Thanks for giving me some more details. In that case I'll close this. Thanks!

[2021-01-18 06:01] #198 closed, assigned to nobody

[2021-01-23 09:11] travankor opened #199 "Parity between xterm and terminfo drivers"
Something that surprised me was that the xterm and terminfo drivers differ in features. For example, while xterm-like terminals will enable bracketed paste, terminals that use the terminfo driver will not since bracketed paste is not advertised by terminfo.

I'm not familiar with all the xterm extensions that are not advertised as terminfo capabilities, but it would be nice to have parity between

[2021-01-24 17:39] jtdaugherty commented on #199
Hi @travankor, you raise a good point; it's true that there are quite a few features that don't get advertised in terminfo (and probably never will). That, combined with the fact that it is not possible to be certain that all xterm features will be harmless if offered by the terminfo driver, is why the terminfo driver is more limited and why I cannot promise more parity between the two. The termin

[2021-01-25 01:44] travankor commented on #199
Some non xterm-like examples are alacritty, foot, konsole, mtm, and st.

What kind of issues do you foresee from sending the escape sequence? Text editors like vim already send this sequence by default.

I think that other escape sequence-triggered features could also be enabled.

[2021-01-25 02:12] jtdaugherty commented on #199
But presumably those mostly use `TERM=xterm` or some other `xterm` variant like `xterm-256color`, right? In which case they will use the Xterm driver in Vty. This is why I suspect the Terminfo driver rarely gets used.

It's not that I'm worried about a specific problem, but rather an inability to know what an escape sequence will do in the case where the terminal doesn't support it. Any non-termin

[2021-01-25 02:15] jtdaugherty commented on #199
I should also note that if it is desirable, you can override the value of `TERM` that Vty uses to choose a driver by setting `termName` in the Vty `Config`. The default is `Nothing`, which means "choose the value of `TERM` from the environment." This way, you can decide that no matter what, your users will always get the Xterm driver when they run your application.

[2021-01-25 03:22] travankor commented on #199
Alacritty and foot have their own terminfos by default. I haven't used the others in a while though, but I thought they ship a custom terminfo as well.

This makes sense although the issue is that these features are orthogonal to what terminfo advertises. Having an API independent of terminfo would be nice.

I've tested alacritty and foot, and neither enable vty's bracketed paste ability. In contr

[2021-01-25 05:24] jtdaugherty commented on #199
I feel angry in response to this, because my suggestion to use the Vty config was my attempt to help you with what I perceived to be your problem right now -- using the terminfo backend and not getting the features you want -- without waiting until we reach some kind of agreement about what to do here. It would be helpful to me if you can clarify the request you are making in this ticket.

[2021-01-25 08:20] travankor commented on #199
@jtdaugherty

I should take a step back and first of all thank you for your work and dedication to this library. Vty is beautifully documented, which surely suggests a lot of love and care have gone into maintaining this library. Secondly, it may seem like these tickets are a thankless and soulless task, but they are very helpful to users like me. So please, don't take a terse (and slightly rushed

[2021-01-25 17:02] jtdaugherty commented on #199
Thanks for your kind words, @travankor - and thanks for clarifying your position!

I'll try to respond to the main points I saw above:

Any time we open tickets to report problems, it is always a possibility that the maintainer will be unwilling to do what we ask. It could be because we are not aware of other solutions, or because the maintainer needs to make different trade-offs. Ideally, though,

[2021-01-25 17:06] jtdaugherty commented on #199
Along the same lines as bracketed paste and mouse modes, there is also this, which can be used to enable other modes that don't work everywhere:

http://hackage.haskell.org/package/vty-5.32/docs/Graphics-Vty-Output-Interface.html#t:Mode

[2021-03-01 18:13] mkloczko opened #218 "Joining widgets - additional use case."
For more freeform widget composition.

An example:

[code]

I'm not sure if the above is doable using vertical/horizontal joins, as if 1 and 2 were joined, then with 3, and then with 4, it should look like:

[code]

[2021-03-01 21:52] jtdaugherty commented on #218
This *might* be possible in a single layer with some clever translations (`translate`, `translateX`, and `translateY`), but I'm not sure about that.

It is *definitely* possible to do this in multiple layers with translations. Have you tried that kind of approach?

[2021-03-01 22:21] mkloczko commented on #218
Yes, it's just I didn't design my code right now to use multiple layers per widget. But maybe that's the way.

Right now I'm writing a function that takes two widgets (and some additional data like size and offset) and returns another widget (with additional data).

I think about dividing the area into tic/tac/toe grid and then selecting where the original widgets appear, if there's an area where

[2021-03-01 22:35] jtdaugherty commented on #218
Cool! I think multiple layers with translations will be the best way to go for now. I haven't the faintest idea how it could be done otherwise; I'm having a hard time imagining what an API would look like to allow the construction of concave structures like the example you gave above. Since I don't see a path forward on that, and since the layering approach should be adequate for now, I'm going to

[2021-03-01 22:35] #218 closed, assigned to nobody

[2021-03-01 23:26] mkloczko commented on #218
Ok, thanks. I've got some ideas, will probably come back to this tomorrow with some code. I'll just add my 2c to the layers thingy (I'm assuming we're talking about bricks layer) - it would be nice to have the possibility to write a library of more complex widgets without thinking about the layering system for a given application. There could be both a internal layering system for more complex wid

[2021-03-01 23:42] jtdaugherty commented on #218
Okay, keep me posted.

I noticed that you mentioned "brick" a few times, and have used the term "widgets;" did you intend to file this on the `brick` repository instead? Vty is lower-level and needs to stay that way. Brick provides a higher-level API and is potentially a better place to explore richer abstractions involving Vty images.

[2021-03-01 23:53] mkloczko commented on #218
I plan to use this in brick, yes, but Widgets render Images (ok, now reread the code, vty has layer support for Pictures). The advantage of both Widgets and Images is that they can both be combined, using hJoins, vJoins, and have all the existing machinery for coloring and styling. Since this is more related to Images i went here with the idea.

[2021-03-02 20:19] mkloczko commented on #218
Here's the idea:

https://gist.github.com/mkloczko/dd33c42867272727d7dd7cc8e5ec0885

It's tad stateful and not very Haskell like. Works on Widgets but should be doable for Images (crops and images as internals are used).

Anyway just wanted to share the idea - imo it does it's job well, but I'm not sure how could this work with Widgets/Image internals (size constraints, calculating offsets, etc),

[2021-03-02 20:38] jtdaugherty commented on #218
Nice! I took a look. I can't say for sure without looking more closely, but you might be able to avoid having to provide width and height info to `createCuttable` by 1) building up abstract `Cuttable` terms rather than evaluating at creation or join time and 2) making `drawCuttable` a custom widget that evaluates the `Cuttable` terms, rendering the sub-widgets, and using their dimensions to them f

[2021-03-02 20:47] mkloczko commented on #218
Isn't rendering the sub-widgets a bit slow? I mean, you have to render them and then put them back into the widget itself to be rendered again... I've did a table once like that and it was tad slow.

But it's probably not slower than this approach. Thank you for the feedback!

[2021-03-02 20:52] jtdaugherty commented on #218
They need to get rendered anyway, don't they?

Widgets should only get rendered once; you can avoid a double-render by keeping the `Result` from a rendering around, which you can then embed as you wish. You would have to go to some trouble to render something twice, because you'd have to do it inside the `RenderM` monad and then just throw away the result. If you have questions about this, let me

[2021-03-02 20:54] jtdaugherty commented on #218
There's some info here, which I could expand if needed:

https://github.com/jtdaugherty/brick/blob/master/docs/guide.rst#implementing-custom-widgets

[2021-03-02 20:55] mkloczko commented on #218
Ok, thanks, will look at this and the old table code to see what went wrong.

[2021-03-02 21:49] jtdaugherty commented on #218
I don't know how well my implementation will correspond with yours, but you might also consider looking at [the source](http://hackage.haskell.org/package/brick-0.60.2/docs/src/Brick.Widgets.Table.html).

[2021-03-13 02:31] Shayan-To opened #219 "Windows support"
Is Windows is going to be supported?

[2021-03-13 02:37] jtdaugherty commented on #219
Hi @Shayan-To, there is currently no effort underway to support Windows. There have been a few attempts over the years, but nothing has stuck. If you or someone you know would like to work on Windows support, please let me know!

[2021-04-04 17:22] simonmichael commented on #198
I hit this issue recently, and it was time consuming to diagnose - bounds to prevent it would be welcome.

[2021-04-04 17:25] jtdaugherty commented on #198
@simonmichael I'm sorry to hear that you ran into this, too, but as I concluded before, this is not enough of a problem to exclude 8.0.2. Instead, I suggest you put a lower bound on Vty to avoid this.

[2021-04-04 17:30] simonmichael commented on #198
@jtdaugherty thanks for the response. Lower bound ? To be clear, should I require vty < 5.23.1 with ghc 8.0 ?

[2021-04-04 17:31] jtdaugherty commented on #198
I was thinking something like `vty >= 5.24`.

[2021-04-04 17:51] simonmichael commented on #198
That didn't work for me, but vty < 5.23.1 did (as expected since sjakobi said "this issue was introduced in v5.23.1"). In any case, I decided to simplify life and avoid other issues by dropping ghc 8.0 support. Thanks.

[2021-04-04 17:53] jtdaugherty commented on #198
@simonmichael Okay, I'm glad you have an option that works for you!

[2021-04-17 12:50] sullyj3 opened #220 "overlay :: Image -> Image -> Image"
It feels a little awkward that one can't overlay an image onto another and get back an image. If I want to create some kind of widget that has multiple layers, but treat it as a single unit, I have to carry around a list of layers where each layer is an image, deferring merging them until the very very end, when I can merge everying into a picture at once and display it.

Would it be feasible to a

[2021-04-17 17:44] jtdaugherty commented on #220
Hi @sullyj3, thanks for opening this. I am not sure what it would take (or what obstacles you might encounter) to do this, but I would be interested in it as a feature. I think I even opened a ticket like this back before I was the maintainer, and IIRC the previous maintainer said it would be feasible.

With that said, how do you envision this working? I can think of two ways this could behave:

1

[2021-04-17 22:23] sullyj3 commented on #220
Yeah, I had been implicitly thinking of version 2 there. 1 could be a good fallback if 2 turns out to be too tricky.

[2021-04-17 22:56] sullyj3 commented on #220
Actually, thinking about it more, I don't think 2 quite makes sense. Under interpretation 1, the images that you are `<->` or `<|>` -ing, are the smallest rectangle that encloses all of their layers (which I guess is equivalent to the largest one of them, as you say). The boundary between the two would be the adjacent edges of their respective enclosing rectangles. By contrast, how would you decid

[2021-04-17 22:57] sullyj3 commented on #220
Fat fingered it, sorry

[2021-04-20 01:47] sullyj3 opened #221 "Support setting cursor style to vertical bar"
Some terminals support escape sequences for switching the cursor from a block to a vertical bar. It would be handy to support this!

[2021-04-20 15:42] jtdaugherty commented on #221
Do you happen to know any details about how this is supported? In order to consider adding this to Vty, I need to understand how widespread support for this is, and I'll also need to know whether it's detectable (e.g. in `terminfo`) and how it behaves in terminals that don't support it.

[2021-04-20 15:44] jtdaugherty commented on #220
Thanks for your example - yes, I think approach 2 is probably not workable. But approach 1 is not equivalent to just carrying around the layers yourself and stitching them together at the end, because doing it manually gives you *way* more control in how they are laid out. I just wanted that to be clear going into this. But I still think approach 1 could be a useful addition and worth exploring if

[2021-04-20 23:41] sullyj3 commented on #220
I agree they're not equivalent - carrying around images `[x,z]` allows you to insert another layer `y` in between them later on. Calling `overlay` wouldn't allow this - you'd be committing to treating `overlay x z` as a solid unit. Additionally you've committed to their translation relative to each other. I think of it as an abstraction boundary - you call overlay if you *know* you don't want to i

[2021-06-08 20:35] KommuSoft opened #222 "Numbering of ISOColor's by Haddock."
The rendered documentation starts number from 1 as we can see [here](https://hackage.haskell.org/package/vty-5.33/docs/Graphics-Vty-Attributes-Color.html#t:Color). Perhaps it is worth to add the real value (for example between brackets).

https://github.com/jtdaugherty/vty/blob/fa74b0ae1ca2883e9c4fbfe55abc9253dc7b9841/src/Graphics/Vty/Attributes/Color.hs#L61-L75

[2021-06-08 20:41] KommuSoft opened #223 "Convert colors to a pattern synonym."
https://github.com/jtdaugherty/vty/blob/fa74b0ae1ca2883e9c4fbfe55abc9253dc7b9841/src/Graphics/Vty/Attributes/Color.hs#L101-L120

Perhaps it is worth to define these colors as pattern synonyms. That way these can both be used as pattern, and as expression.

[2021-06-09 21:57] jtdaugherty commented on #223
I mentioned this on the PR, but to be explicit here, too: I'd rather avoid pattern synonyms. I don't view this code as being risky enough at present to warrant a change. Thanks for opening this and proposing it, though.

[2021-06-09 21:57] #223 closed, assigned to nobody

[2021-06-09 21:57] jtdaugherty commented on #222
That makes sense to me, thanks for spotting that!

[2021-06-10 09:37] KommuSoft commented on #222
I also created an issue in the Haddock repository (https://github.com/haskell/haddock/issues/1406), and apparently this will be fixed by haddock itself.

[2021-06-10 13:50] jtdaugherty commented on #222
Oh, great!

[2021-06-28 06:35] KommuSoft opened #226 "Why is `Eq v` necessary for the `Semigroup` and `Monoid` for the `MaybeDefault` datatype"
I'm wondering why we need as type constraint `Eq v` for the instances of `Semigroup` and `Monoid`. While we will likely eventually need the `Eq` instance, at the instance level of `Semigroup` and `Monoid`, we do not make use of any function that is defined in `Eq`.

https://github.com/jtdaugherty/vty/blob/fe501ccf2716826bf6ea05a666bbcfab36631ca6/src/Graphics/Vty/Attributes.hs#L154-L163

[2021-06-28 12:28] jtdaugherty commented on #226
It turns out we don't! Those constraints are redundant, probably made so by some recent changes. I removed them in abf7fc4cd7d7a2fd69510743c62bff99e42a2541 just now. Thanks for mentioning this!

[2021-06-28 12:28] #226 closed, assigned to nobody

[2021-08-28 08:41] spacekitteh commented on #167
Can we please get this? Lack of 24 bit colour is the sole thing preventing me from using vty.

[2022-01-10 22:19] tavi-vi opened #229 "Documentation for Cursor data type wrong"
It seems like the PositionOnly and Cursor constructor's descriptions are swapped.

[2022-01-10 23:36] #229 closed, assigned to nobody

[2022-01-10 23:36] jtdaugherty commented on #229
Fixed, thanks!

[2022-01-18 20:24] tavi-vi commented on #199
For what it's worth, neovim unconditionally turns on bracketed paste mode regardless of what TERM is. But maybe the decision to do that is best left to the application.

It would be nice if you could force-set mouse and bracketed paste to on without pretending the terminal is xterm since there's no way to tell if a terminal supports bracketed paste or mouse from the terminfo (from my understanding

[2022-01-18 20:35] jtdaugherty commented on #199
I can see how this would be useful, but your point about terminfo is pretty much why things are written as they are now. (But read below for a solution that should work now.) The terminfo-based Vty driver is intended to support only what can be gleaned from terminfo (although I wouldn't be surprised if that's not entirely true; there may be hacks that do otherwise). With the prevalence of `xterm`-

[2022-03-09 17:34] iphydf opened #231 "Large bracketed pastes are very slow (seems `O(n^2)`)"
https://github.com/jtdaugherty/vty/blob/b3504fbcb0430a8ef8bc5cf254dbcf01d390a51a/src/Graphics/Vty/Input/Paste.hs#L35

This `String`-based code is probably quite inefficient for large pastes, but besides that, processing pastes is `O(n^2)`.

Very rough timing (by counting seconds with a stopwatch, because I didn't set up a proper timing environment yet), raw data below the graph:

<img width="576"

[2022-03-09 17:43] jtdaugherty commented on #231
Thank you for reporting this and for also providing measurements! Is this something you are interested in hacking on?

[2022-03-09 17:46] iphydf commented on #231
Potentially yes. I'm not sure how much time I'll have in the next few days (I'm probably shelving this project for a bit because I need to work on something else first), but I'll get back to it at some point. From initial investigation it seems we'd save an order of magnitude in time just by using Text or ByteString earlier in the pipeline. I haven't actually looked at the algorithm I linked to ye

[2022-03-09 17:48] iphydf commented on #231
So.. actually looking at the algorithm for more than 5 seconds, I blame this line:
https://github.com/jtdaugherty/vty/blob/b3504fbcb0430a8ef8bc5cf254dbcf01d390a51a/src/Graphics/Vty/Input/Paste.hs#L47

In particular, the non-match of that line. `length` is `O(n)` and runs on every recursive call.

[2022-03-09 18:30] iphydf commented on #231
Never mind that. I'll look into it :). I've got my setup done now.

[2022-03-09 18:37] iphydf commented on #231
First hacky experiment: not doing the `takeUntil` thing brings down the time for 300KB from 93 seconds to around 4-5 seconds.

[2022-03-09 18:47] iphydf commented on #231
I'm done. Just some more testing then I'll make a PR.

[2022-03-09 19:04] jtdaugherty commented on #231
Fantastic, thank you!

[2022-03-09 19:08] iphydf commented on #231
Like I thought, it's about an order of magnitude speedup. Actually all my timings are wrong, because the new timings are in unoptimised mode while the old ones are optimised. Speedup is probably significantly better than I measured.

[2022-03-09 19:10] iphydf commented on #231
In fact, turns out, it's not much faster in optimised mode, which is mildly surprising to me. I'll investigate more. The timings in the PR are roughly correct then.

[2022-03-09 19:18] iphydf commented on #231
Indeed, the next thing to fix is `bracketedPasteFinished` being called on increasingly large strings => polynomial time. That fix isn't quite as trivial though. I'll have a look at what's the best way to fix it.

[2022-03-09 19:40] iphydf commented on #231
This is impossible to fix without breaking the API. All of `Graphics.Vty.Input.Loop` is part of the public API. `parseEvent` in there concatenates unprocessed input until the whole input can be parsed. That kind of works for small inputs (it's still O(n^2)) but breaks down for large inputs.

What we should do instead is change the classifier to have a parse state that you can incrementally feed in

[2022-03-09 20:07] jtdaugherty commented on #231
I am okay with taking this risk; we won't know what the breakage is until after the hacking is finished, and I think it's worth exploring an alternative approach and then assessing the breakage risk later. I suspect most of what's in that module actually never gets used directly by applications in practice, so I suspect that the risk of breakages having a negative impact is probably low.

[2022-03-09 21:32] iphydf commented on #231
So far I didn't break brick :). I didn't do the parser thing yet, but changed all the internal string processing to ByteString and got some significant speedups already. It doesn't help with the polynomial time, but the constant factor is a lot smaller now. I'll do some timing comparisons.

[2022-03-09 21:41] jtdaugherty commented on #231
That's great news - thanks again for looking into this.

[2022-03-10 19:56] #231 closed, assigned to nobody

[2022-03-14 18:09] jtdaugherty opened #238 "Crash on resize on master"
@iphydf I'm not sure which of your recent changes could have impacted this, but when I attempt a resize I get this crash pretty consistently. Would you be willing to look into this?
[code]
Here's some relevant code, but I haven't looked into how this might have arisen as a consequence of your changes:
[code]

[2022-03-14 18:11] iphydf commented on #238
Will take a look at that now.

[2022-03-14 18:13] iphydf commented on #238
Ah, I think I know: EvResize is a strict struct now. The fix would be to either explicitly make EvResize fields lazy or ensure that the `EvResize e e` expression itself is lazy. I'll see if I can do the latter, otherwise I'll make a PR for the former.

[2022-03-14 18:15] iphydf commented on #238
Or alternatively maybe I can avoid the bottom value altogether. I'll have a look at the code.

[2022-03-14 18:19] jtdaugherty commented on #238
I guess my reaction to the code above is, why is a lazy `EvResize` being written to that channel in the first place? Is there a better way to deal with whatever that code is for?

[2022-03-14 18:28] iphydf commented on #238
I agree. I'm trying to figure out where that event goes and where it's being evaluated.

[2022-03-14 18:33] jtdaugherty commented on #238
I wonder if it's just a dummy event to get the internal reader to wake up and redraw..

[2022-03-14 18:33] jtdaugherty commented on #238
(I.e. the initial draw)

[2022-03-14 18:35] iphydf commented on #238
Sending any other event works too (e.g. `EvGainedFocus`). I don't know if it always works, though.

[2022-03-14 18:37] iphydf commented on #238
Not sending any event does not work (resize becomes delayed until the next real event happens), so yeah that seems reasonable.

[2022-03-14 18:44] jtdaugherty commented on #238
Looking at the code, if this is just for recovery after signals, then would it be possible to provide the actual window dimensions in the `EvResize` event that the handler is producing? That seems like a way to make this behavior legitimate.

[2022-03-14 18:51] iphydf commented on #238
It is received here, ignoring the bottom values in the constructor arguments: https://github.com/jtdaugherty/vty/blob/e4fb394cdf9565673697af6aba9c6427337a9b05/src/Graphics/Vty.hs#L215

and then it's fixed up to become a real resize event with the new bounds. It doesn't seem like we can access the bounds in the sender context. This also means that sending anything other than `EvResize bot bot` will

[2022-03-14 18:55] iphydf commented on #238
Also correct would be to send `EvResize 0 0` or anything else, but the current code would catch the introduction of a bug where that 0 value accidentally ends up in user code. The current code is better than sending 0 0.

[2022-03-14 19:19] jtdaugherty commented on #238
Okay, that makes sense. Thank you for looking into this! I'll merge the PR you created, but I also want to think about improving the internal event-handling so that a constructor for this specific case could be added without polluting the event type that applications handle. I don't know how much of an overhaul that would require, but I'd like to have the cake and eat it too (make resizes strict,

[2022-03-14 19:19] #238 closed, assigned to nobody

[2022-03-14 19:59] jtdaugherty commented on #238
I had some time and this turned out to be pretty straightforward. Let me know what you think, @iphydf -

https://github.com/jtdaugherty/vty/commit/2cd98a862c88069e3863ad0ad989dfa0e9081d29

[2022-03-14 20:09] jtdaugherty commented on #238
(I didn't make the `EvResize` fields strict in that branch yet, but will if these changes are otherwise reasonable.)

[2022-03-14 20:10] jtdaugherty commented on #238
Also, a note on the API breakage: I very much doubt that the majority of Vty users are in the habit of customizing their `Input`s, and since that's the only spot where the new type affects the user-facing API, I suspect that the risk of this causing anyone any trouble is very low.

[2022-03-14 21:33] iphydf commented on #238
LGTM. Yeah, that's a good way of doing it. Thanks for the better fix :).

[2022-03-14 22:01] jtdaugherty commented on #238
Okay, thanks for taking a look. It's now merged, and I'll remove the laziness annotations from `EvResize` shortly.

[2022-03-21 02:15] #167 closed, assigned to nobody

[2022-03-21 02:30] jtdaugherty commented on #167
@u-quark's work on this is now released in 5.35.

[2022-03-21 03:33] juhp opened #240 "vty-5.35 failed to build in Stackage Nightly"
[code]

[2022-03-21 03:41] jtdaugherty commented on #240
Thanks for this report! This is now fixed in 5.35.1.

[2022-03-21 03:41] #240 closed, assigned to nobody

[2022-03-21 03:46] juhp commented on #240
Thanks so fast

[2022-04-16 08:49] Simon-Hostettler opened #243 "Allow changing of cursor shape"
As far as I understand, most terminals provide multiple cursor shapes, such as blocks █, beams | etc. However I have found no option to change the shape of the cursor in vty itself. Drawing an escape sequence such as `"\x1b[\x31 q"` is not an option, as it messes with the layout. It would be nice to have this option without having to rely on an external script that changes the terminal settings.

[2022-05-20 00:52] sjakobi opened #245 "Compatibility with mtl-2.3"
`vty` will apparently require code changes:

[code]

[2022-05-20 02:09] jtdaugherty commented on #245
Thanks for reporting this. Looking into this, it appears that we're inadvertently depending on `mtl` for `forM_` in that module because the `mtl` modules re-export `Control.Monad`. Presumably the re-export went away in 2.3, which would reveal this hidden dependency.

[2022-05-27 18:57] noughtmare commented on #219
I've done a bit of investigation into what would be necessary, here are my findings:

All the relevant documentation is here: https://docs.microsoft.com/en-us/windows/console/

I collected this data by commenting out the `unix` package and its modules and seeing which errors were reported by GHC.

Terminfo is available via [mingw-w64-x86_64-ncurses](https://packages.msys2.org/package/mingw-w64-x86

[2022-05-27 19:13] jtdaugherty commented on #219
Thank you for investigating this! I want to think about some of what is listed here and get back to you before you do any implementation. I’ll do that in the next couple of days.

[2022-05-29 15:16] jtdaugherty commented on #219
I took a look over this and I have a few questions/thoughts.

Why is `terminfo` needed? I ask because 1) I'd like to avoid a dependency on `mingw` (so if there's some other native way to get it, I'd prefer that), and 2) mainly because I don't know of a reason why a Vty backend for Windows needs to use `terminfo` the way the other backends do. It could be implemented completely differently and not

[2022-05-29 15:18] jtdaugherty commented on #219
As for the post-`Handle` work to support Windows, I'm also thinking there may be places where we need to do conditional compilation for systems that can build `unix` and use lower-level APIs. If that happens, I'd like the approach to abstract over those needs if it doesn't already.

[2022-05-29 17:06] noughtmare commented on #219
I haven't looked too long at terminfo because it was pretty easy to use the mingw package. I agree that it would be nicer to use the native API. I should look at that in more detail.

I'm a bit conflicted about the Handle situation. I know that simply using Haskell's handles will not be enough to cover all those configuration options, but you can use functions like `handleToFd` (unix) and `withHan

[2022-05-29 17:19] jtdaugherty commented on #219
This strikes me as worthwhile no matter what, because it then makes it much easier to tell what kind of abstract interface we need for `NativeHandle`, and it makes it easier to concentrate any platform-specific implementation in functions that operate on `NativeHandle`. This seems like something we will ultimately need anyway; otherwise we run the risk of having to sprinkle `ifdef`s throughout the

[2022-05-29 17:45] noughtmare commented on #219
OK, then I think the best course of action is to first consolidate all the unix dependent code behind such an abstract `NativeHandle` interface. Then we don't really need to use the `Handle` type. The second step would be to implement that interface on windows.

While doing that first step we should take into account the similarities and differences between windows and unix. We shouldn't make an a

[2022-05-29 17:50] jtdaugherty commented on #219
Thanks, @noughtmare - that sounds like a great approach to me. I'm happy to review incrementally or wait until the `NativeHandle` move is complete. My only requests are:

1. Just in case this is your style: please avoid force-pushes to any PR branch that you create; I find that some people do that, and it makes PRs much more difficult for me to evaluate.
2. Please make commits as small and as logi

[2022-05-30 23:58] evanrelf opened #246 "Could `Event` use `Set Modifier` instead of `[Modifier]`?"
I was wondering if [the `Event` type](https://hackage.haskell.org/package/vty-5.35.1/docs/Graphics-Vty-Input.html#t:Event) could use `Set Modifier` instead of `[Modifier]`?

I don't think the modifiers have an ordering, and pattern matching on a specific ordering of modifiers is error-prone.

[2022-05-31 00:13] jtdaugherty commented on #246
Thanks for opening this. You're right that modifiers don't have an ordering. In my view, `[Modifier]` is not the right abstraction for what is going on anyway, and `Set` would be more appropriate. But I think the raw pragmatism of `[Modifier]` wins over `Set` just for pattern-matching the two simplest and most common cases: zero and one modifiers. If you need to go beyond that to check for multipl

[2022-05-31 00:13] #246 closed, assigned to nobody

[2022-05-31 00:42] evanrelf commented on #246
That's a good point, and I agree 100% 👍

Technically `Set` is an instance of the `IsList` type class, which powers the `OverloadedLists` language extension. That allows pattern matching on sets using list syntax. Unfortunately, it's implemented in terms of converting to and from a linked list, so you still have the problem of ordering when dealing with 2+ modifiers:

[code]

[2022-05-31 00:48] jtdaugherty commented on #246
Yeah, pattern-matching on sets really would have to be aware of them *as sets*, not "list-like" things, in order to disregard ordering for comparisons.

A silver lining here might be that modifier support in terminals is generally abysmal and we are often lucky to get even one modifier to work correctly, let alone two, which perhaps makes lack of easy pattern-matching slightly less problematic. 😊

[2022-06-08 00:17] jtdaugherty commented on #219
I also had another thought about this, which is that as we think about these changes, I'd love to keep an eye on whether we could split up the package into a core (e.g. `vty-core`) and platform-specific backends (e.g. `vty-unix` and `vty-windows`). Not only does that test whether the exported interface is sufficiently extensible and complete, but it avoids mixing platform-specific code in the same

[2022-07-21 03:35] frasertweedale opened #248 "build failure on GHC 9.4 due to removed instance MonadFail (ST s)"
*base* that will ship with GHC 9.4 has removed `instance MonadFail (ST s)`.
See https://downloads.haskell.org/ghc/9.4.1-alpha1/docs/html/libraries/base/Control-Monad-ST.html#t:ST.

vty currently uses this instance, causing compile failure:
[code]

[2022-07-21 14:01] sullyj3 commented on #220
For posterity, I ended up getting a bit intimidated by the idea of trying to edit this module:

https://github.com/jtdaugherty/vty/blob/c9b63ffad6b7ec0ea8509e17a5d10706034c0691/src/Graphics/Vty/PictureToSpans.hs#L67-L92

if anyone is interested in implementing this, that's where most of the implementation complexity will be, I think.

[2022-07-21 14:16] #248 closed, assigned to nobody

[2022-07-21 14:17] jtdaugherty commented on #248
Thank you!

[2022-08-10 01:32] chhackett commented on #219
Hello, I want to let you know I would be very interested in working on the Windows port of vty with you and/or @noughtmare. I would very much like to discuss how to proceed with you when you have time. Or if you like, I could submit a PR with the NativeHandle change as a first step. Then perhaps you could look at the work I've done and we can decide the next step.

[2022-08-10 15:22] jtdaugherty commented on #219
@chhackett thanks for your offer! I don't know whether @noughtmare still has plans to pick this back up so I'd like to hear from them first.

Looking back at the comment history, I am increasingly in favor of abstraction changes to support a core package and platform-specific packages. I strongly suspect that that means we don't need `NativeHandle` at all because I would consider the handle type i

[2022-08-10 21:35] noughtmare commented on #219
I'm not working on anything at the moment.

My thought was that the platform independent part would use `NativeHandle` to represent the native handle type. But maybe it's possible to factor that out completely.

[2022-09-15 10:17] frasertweedale commented on #248
@jtdaugherty would you be able to cut a new release soon, now that GHC 9.4 was released?

[2022-09-17 18:31] jtdaugherty commented on #248
This is now released in 5.37.

[2022-09-19 01:24] frasertweedale commented on #248
Thank you!

[2022-11-17 20:57] jtdaugherty opened #251 "Evaluate feature parity between Windows Terminal sequences and existing backends"
As part of understanding what Windows Terminal support in Vty would entail, we need to understand how much overlap exists between the sequences that Vty currently uses for its terminfo-based and Xterm output backends and the ones documented as supported by Windows Terminal at:

https://learn.microsoft.com/en-us/windows/console/console-virtual-terminal-sequences

Essentially, if there is enough ove

[2022-11-17 21:56] jtdaugherty commented on #220
@sullyj3 I know it's been a while, but I am going to close this due to inactivity (and also because I don't have time to tackle it myself). If you get interested in taking a look at this again, let's re-open it.

[2022-11-17 21:56] #220 closed, assigned to nobody

[2022-11-24 11:24] patrickaldis opened #252 "Problems Building"
Was just trying out the library, but was having a few problems building the `examples` package. I've built with ghc 8.4.4, 9.0.2, 9.2.4, and head, but with no luck - all seem to throw a lot of errors about `def`.

[code]

I was wondering if I was missing something obvious.

Thanks for any help

[2022-11-24 18:06] jtdaugherty commented on #252
What version of `vty` are you attempting to build? A Hackage release? (And if so, which one?) Or `master`?